In [1]:
import os
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import *
import matplotlib.pyplot as plt
from matplotlib import animation
from matplotlib import cm
from parse import *
import seaborn as sns

In [31]:
CHUNKSIZE = 100000

TRAIN_PATH        = "../../data/train_StationPathInfo.csv"
TRAIN_PATH_EX     = "../../data/train_StationPathInfoEx.csv"
TEST_PATH         = "../../data/test_StationPathInfo.csv"
TEST_PATH_EX      = "../../data/test_StationPathInfoEx.csv"

SEED = 0
CHUNKSIZE = 50000
NROWS = 1200000

ID_COLUMN = 'Id'
TARGET_COLUMN = 'Response'
STATION_NUM = 52

In [3]:
# 読み出す。

df_train_bin = pd.read_csv(TRAIN_PATH)
df_test_bin  = pd.read_csv(TEST_PATH)
df_pass = pd.concat([df_train_bin, df_test_bin])

In [4]:
TEST_START_TIME      = "../../data/test_StartEndTime.csv"
TRAIN_START_TIME     = "../../data/train_StartEndTime.csv"

df_start_train = pd.read_csv(TRAIN_START_TIME)
df_start_train = df_start_train.ix[:,['Id','StartTime','EndTime', 'Response']]
df_start_test = pd.read_csv(TEST_START_TIME)
df_start_test['Response'] = -1

C:\Users\Tomonobu\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

In [5]:
df_start_train.head()

   Id  StartTime  EndTime  Response
0   4      82.24    87.29         0
1   6    1313.12  1315.75         0
2   7    1618.70  1624.42         0
3   9    1149.20  1154.16         0
4  11     602.64   606.02         0

In [6]:
df_start_test.head()
df_start = pd.concat([df_start_train, df_start_test])
df_start.head()

   Id  StartTime  EndTime  Response
0   4      82.24    87.29         0
1   6    1313.12  1315.75         0
2   7    1618.70  1624.42         0
3   9    1149.20  1154.16         0
4  11     602.64   606.02         0

1列全部がNanなものが train, test合わせて1165個ある。
しかもその中に Response  = 1 が2個入ってる…。
2/560 = 約0.4…<br>
<br>
もともと通過情報が存在しないエントリのはずなので、負のでかい値で fill してクラスタをつくってしまうのでよいのかも。

In [7]:
df_null = df_start[df_start.isnull().any(axis=1)]
df_null.head()

          Id  StartTime  EndTime  Response
370      725        NaN      NaN         0
5806   11549        NaN      NaN         0
8987   17873        NaN      NaN         0
12359  24623        NaN      NaN         0
12360  24624        NaN      NaN         0

In [8]:
df_null = df_start[df_start.isnull().any(axis=1)]
df_null[df_null['Response'] == 1]

            Id  StartTime  EndTime  Response
237613  475302        NaN      NaN         1
316035  632286        NaN      NaN         1

In [ ]:
from sklearn.model_selection import KFold
df_pass['coh'] = 0
df_pass['coh_prev'] = 0

for index, row in df_pass.iterrows():
    if 0 < index:
        vec_cur  = row.values[1:1 + STATION_NUM] 
        vec_prev = row_prev.values[1: 1 + STATION_NUM]
        if (vec_cur == vec_prev).all():
            df_pass.at[index, 'coh']        = 1
            df_pass.at[index-1, 'coh_prev'] = 1
    if index % 100== 0:
        print(index)
    row_prev = row

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500

In [ ]:
df_train = pd.merge(df_pass, df_start, how='left', on='Id')

In [ ]:
df_train[df_train['coh'] == 1]

In [ ]:
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, log_loss, make_scorer

def calc_mcc(cf_mat):
    tn, fp, fn, tp = cf_mat.ravel()
    print(tn, fp, fn, tp)
    mcc = (tp * tn - fp * fn) / np.sqrt((tp + fp) * (tp + fn) * (tn + fp) * (tn + fn))
    return mcc

def mcc_scorer(y_true, y_pred):
    cf_mat = confusion_matrix(y_true, y_pred)
    return calc_mcc(cf_mat)

def separate_X_y(df):
    X = df.drop(['Response'], axis=1)
    y = df['Response']
    return X, y

def train_with_r_forest(df):
    X_train, y_train = separate_X_y(df)

    cl_weight = {0:0.3, 1:0.7}
    
    # Grid Search
#    params={'max_depth': [10, 25, 50],
#            'subsample': [0.8, 0.9, 0.95],
#            'colsample_bytree': [1.0],
#            'scale_pos_weight': [2, 3, 4, 5]
#    }
    params={'max_depth': [5, 10],
            'subsample': [0.9],
            'colsample_bytree': [1.0],
            'scale_pos_weight': [2]
    }

    xgb_model = xgb.XGBClassifier()
    gs = GridSearchCV(xgb_model,
                      params,
                      cv=3,
                      scoring={'mcc' : make_scorer(mcc_scorer)},
                      n_jobs=1,
                      verbose=2,
                      refit='mcc')

    gs.fit(X_train, y_train)
#rf = RandomForestClassifier(max_depth=10,n_estimators=50, random_state=33)
#    rf.fit(X_train, y_train)
    return gs

In [ ]:



def train_rf_parameter(df):
    df = df[(df['Response'] == 0) | (df['Response'] == 1)]
    df_train, df_test = train_test_split(df, random_state=33)
    
    df_train_ok   = df_train[df_train['Response'] == 0]
    df_train_ng   = df_train[df_train['Response'] == 1]
    undersample_rate = len(df_train_ng) * 30 / len(df_train_ok)
    df_train_ok_sample = df_train_ok.sample(frac = undersample_rate)
    df_train = pd.concat([df_train_ok_sample, df_train_ng])

    rf = train_with_r_forest(df_train)
    X_test, y_test = separate_X_y(df_test)
    y_pred = rf.predict(X_test)
    print(y_pred)   
    
    cf_mat = confusion_matrix(y_test, y_pred)
    print(cf_mat)

    mcc = calc_mcc(cf_mat)
    print(mcc)    
    return rf

model = train_rf_parameter(df_train)

In [ ]:
model.best_estimator_

In [ ]:
def train_and_predict_one_chnuk(df_train):
    df_train_ok   = df_train[df_train['Response'] == 0]
    df_train_ng   = df_train[df_train['Response'] == 1]
    df_test = df_train[df_train['Response'] == -1]
    
    undersample_rate = len(df_train_ng) * 20 / len(df_train_ok)
    df_train_ok_sample = df_train_ok.sample(frac = undersample_rate)

    df_train_balance = pd.concat([df_train_ok_sample, df_train_ng])
    
    rf = train_with_r_forest(df_train_balance)

    X_test, y_test = separate_X_y(df_test)
    y_pred = rf.predict(X_test)
      
    df_result_add = pd.DataFrame(columns=['Id', 'Response'])
    df_result_add.loc[:, 'Id']       = df_test['Id'].values
    df_result_add.loc[:, 'Response'] = y_pred
    
    return df_result_add

df_result = train_and_predict_one_chnuk(df_train)

In [ ]:
df_result[df_result['Response']==1].shape

In [ ]:
df_result[df_result['Response']==0].shape

In [ ]:
df_result.to_csv("../../submission/submit_20180714_1.csv", index=False)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1.0,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=25,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=2, seed=0, silent=True, subsample=0.95)