重複を検出する。<br>
Idでソートしたときの前後との重複、時間でソートしたときの前後との重複をそれぞれ feature にする。

In [13]:
import os
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import *
import matplotlib.pyplot as plt
from matplotlib import animation
from matplotlib import cm
from parse import *
import seaborn as sns

In [14]:
CHUNKSIZE = 100000

TRAIN_DATE        = "../../data/train_date.csv"
TRAIN_NUMERIC     = "../../data/train_numeric.csv"
TRAIN_CATEGORICAL = "../../data/train_categorical.csv"
TEST_DATE         = "../../data/test_date.csv"
TEST_NUMERIC      = "../../data/test_numeric.csv"
TEST_CATEGORICAL  = "../../data/test_categorical.csv"

SEED = 0
CHUNKSIZE = 50000
NROWS = 1200000
#NROWS = 10000

ID_COLUMN = 'Id'
TARGET_COLUMN = 'Response'

TEST_START_TIME      = "../../data/test_StartEndTime.csv"
TRAIN_START_TIME     = "../../data/train_StartEndTime.csv"

In [21]:
df_train_numeric = pd.read_csv(TRAIN_NUMERIC, nrows=NROWS, dtype='float32')
df_test_numeric  = pd.read_csv(TEST_NUMERIC,  nrows=NROWS, dtype='float32')

In [22]:
df_train_numeric.columns

Index(['Id', 'L0_S0_F0', 'L0_S0_F2', 'L0_S0_F4', 'L0_S0_F6', 'L0_S0_F8',
       'L0_S0_F10', 'L0_S0_F12', 'L0_S0_F14', 'L0_S0_F16',
       ...
       'L3_S50_F4245', 'L3_S50_F4247', 'L3_S50_F4249', 'L3_S50_F4251',
       'L3_S50_F4253', 'L3_S51_F4256', 'L3_S51_F4258', 'L3_S51_F4260',
       'L3_S51_F4262', 'Response'],
      dtype='object', length=970)

In [23]:
df_train_numeric = df_train_numeric.astype({'Id':'int32'})
df_train_numeric = df_train_numeric.astype({'Response':'int32'})
df_test_numeric = df_test_numeric.astype({'Id':'int32'})

df_train_numeric['Response'] = -1
df_numeric_all = pd.concat([df_train_numeric, df_test_numeric])

In [28]:
del df_train_numeric
del df_test_numeric

NameError: name 'df_train_numeric' is not defined

In [29]:
df_numeric_all = df_numeric_all.sort_values('Id')
df_numeric_all.reset_index(inplace=True, drop=True)
df_numeric_all.head(30)

,Id,L0_S0_F0,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,L0_S0_F2,L0_S0_F20,L0_S0_F22,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0.030,0.116,-0.015,-0.032,0.020,0.083,-0.034,-0.273,-0.273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
4,5,-0.016,-0.157,0.000,0.008,0.087,0.077,-0.026,-0.106,-0.106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
6,7,0.088,0.025,-0.015,-0.072,-0.225,-0.147,0.086,0.250,0.250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,-0.036,0.161,0.022,0.128,-0.026,-0.046,-0.064,-0.253,-0.253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
9,10,0.030,0.116,-0.007,0.008,0.000,0.088,-0.026,-0.194,-0.194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,-0.055,0.025,0.030,0.168,-0.169,-0.099,-0.086,0.042,0.042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
11,12,-0.055,0.025,0.030,0.168,-0.169,-0.099,-0.086,0.042,0.042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,0.003,0.161,0.022,0.088,-0.005,-0.003,0.019,-0.035,-0.035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
13,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
14,15,-0.010,0.116,-0.007,-0.072,0.015,-0.110,0.041,-0.052,-0.052,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
17,18,-0.016,0.161,-0.007,-0.032,-0.082,0.163,-0.041,-0.220,-0.220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
18,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,-0.088,0.070,0.015,0.088,-0.174,-0.056,-0.078,-0.201,-0.201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,-0.180,-0.248,0.030,0.248,0.046,-0.099,-0.243,0.134,0.134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,0.180,0.161,-0.044,-0.232,0.010,0.077,0.175,-0.053,-0.053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
23,24,0.095,-0.248,-0.015,-0.072,0.112,0.125,0.116,-0.177,-0.177,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,-0.049,-0.066,-0.007,-0.032,-0.158,-0.142,-0.056,0.041,0.041,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,0.016,0.116,-0.007,-0.072,0.209,0.035,0.093,0.202,0.202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
26,27,-0.062,-0.384,0.000,0.088,-0.199,0.013,-0.153,-0.285,-0.285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
27,28,-0.075,0.025,0.008,0.048,-0.031,0.077,-0.093,-0.303,-0.303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
28,29,0.115,0.025,-0.015,-0.112,0.030,-0.014,0.153,-0.278,-0.278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,0.003,0.070,0.000,0.088,-0.163,-0.035,-0.086,0.042,0.042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# ソートしてから、feature が前の列と全く同じものを検出する。
def make_coh_feature(df_org, sort_columns):
    df = df_org.sort_values(sort_columns).reset_index(drop=True)
    
    fname_coh1      = sort_columns[0] + '_coh' 
    fname_coh_prev1 = sort_columns[0] + '_coh_prev' 

    vec_coh      = np.zeros(len(df))
    vec_coh_prev = np.zeros(len(df))

    loopcnt = 0
    length = df_org.shape[1]
    print(length)
    for index, row in df.iterrows():
        vec_cur  = row.values[1:] 
        if 0 < index:             
            if (vec_cur == vec_prev).sum() > length - 2:
                vec_coh[index]        = 1
                vec_coh_prev[index-1] = 1 
        vec_prev = vec_cur

#    df_ret = pd.DataFrame({'Id'           : df['Id'].values, 
#                           fname_coh1     : vec_coh, 
#                           fname_coh_prev1: vec_coh_prev})
    df_ret = pd.DataFrame( columns=['Id', fname_coh1, fname_coh_prev1])
    df_ret.loc[:, 'Id']            = df['Id'].values 
    df_ret.loc[:, fname_coh1]      = vec_coh
    df_ret.loc[:, fname_coh_prev1] = vec_coh_prev
    df_ret = df_ret.sort_values('Id')
    return df_ret

In [ ]:
df_id_dup_list = make_coh_feature(df_numeric_all, ['Id'])
df_s_time_dup_list = make_coh_feature(df_numeric_all, ['StartTime', 'Id'])
df_e_time_dup_list = make_coh_feature(df_numeric_all, ['EndTime', 'Id'])

In [116]:
df_id_dup_list.head(5)

  Id  Id_coh  Id_coh_prev
0  1     0.0          0.0
1  2     0.0          0.0
2  3     0.0          0.0
3  4     0.0          0.0
4  5     0.0          0.0

In [117]:
df_s_time_dup_list.head(5)

        Id  StartTime_coh  StartTime_coh_prev
1101354  1            0.0                 0.0
1483509  2            0.0                 0.0
886792   3            0.0                 0.0
99917    4            0.0                 0.0
334310   5            0.0                 0.0

In [118]:
df_e_time_dup_list.head(5)

        Id  EndTime_coh  EndTime_coh_prev
1095642  1          0.0               0.0
1482349  2          0.0               0.0
930939   3          0.0               0.0
100182   4          0.0               0.0
333383   5          0.0               0.0

In [119]:
# 保存する。
df_feat = pd.DataFrame(df_all['Id']).sort_values('Id')
df_feat = pd.merge(df_feat, df_id_dup_list, on='Id', how='left')
df_feat = pd.merge(df_feat, df_s_time_dup_list, on='Id', how='left')
df_feat = pd.merge(df_feat, df_e_time_dup_list, on='Id', how='left')

In [120]:
df_feat.head()

,Id,Id_coh,Id_coh_prev,StartTime_coh,StartTime_coh_prev,EndTime_coh,EndTime_coh_prev
0,1,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0

In [121]:
df_feat.to_csv("../../data/Feature_Numeric_Duplicates.csv", index=False)

1