時間がかかるので引っ越し後にやってない。<br>
いけるはず…

In [1]:
import os
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import *
import matplotlib.pyplot as plt
from matplotlib import animation
from matplotlib import cm
from parse import *
import seaborn as sns

In [2]:
CHUNKSIZE = 100000

TRAIN_PATH        = "../../data/train_StationPathInfo.csv"
TRAIN_PATH_EX     = "../../data/train_StationPathInfoEx.csv"
TEST_PATH         = "../../data/test_StationPathInfo.csv"
TEST_PATH_EX      = "../../data/test_StationPathInfoEx.csv"

SEED = 0
CHUNKSIZE = 50000
NROWS = 1200000

ID_COLUMN = 'Id'
TARGET_COLUMN = 'Response'

In [3]:
# 読み出す。

df_train_bin = pd.read_csv(TRAIN_PATH)
df_test_bin  = pd.read_csv(TEST_PATH)
df_pass = pd.concat([df_train_bin, df_test_bin])

通過ステーションをヒートマップにしてみる。

In [4]:
# 時系列でソートしたヒートマップを出してみる。

TEST_START_TIME      = "../../data/test_StartEndTime.csv"
TRAIN_START_TIME     = "../../data/train_StartEndTime.csv"

df_start_train = pd.read_csv(TRAIN_START_TIME)
df_start_train = df_start_train.ix[:,['Id','StartTime','EndTime', 'Response']]
df_start_test = pd.read_csv(TEST_START_TIME)
df_start_test['Response'] = -1

C:\Users\Tomonobu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

In [5]:
df_start_train.head()

   Id  StartTime  EndTime  Response
0   4      82.24    87.29         0
1   6    1313.12  1315.75         0
2   7    1618.70  1624.42         0
3   9    1149.20  1154.16         0
4  11     602.64   606.02         0

In [6]:
df_start_test.head()
df_start = pd.concat([df_start_train, df_start_test])
df_start.head()

   Id  StartTime  EndTime  Response
0   4      82.24    87.29         0
1   6    1313.12  1315.75         0
2   7    1618.70  1624.42         0
3   9    1149.20  1154.16         0
4  11     602.64   606.02         0

In [7]:
df_train = pd.merge(df_start, df_pass, how='left')
df_train = df_train.fillna(-1500)

In [8]:
df_train[df_train.isnull().any(axis=1)]

Empty DataFrame
Columns: [Id, StartTime, EndTime, Response, L0_S0_D1, L0_S1_D26, L0_S2_D34, L0_S3_D70, L0_S4_D106, L0_S5_D115, L0_S6_D120, L0_S7_D137, L0_S8_D145, L0_S9_D152, L0_S10_D216, L0_S11_D280, L0_S12_D331, L0_S13_D355, L0_S14_D360, L0_S15_D395, L0_S16_D423, L0_S17_D432, L0_S18_D437, L0_S19_D454, L0_S20_D462, L0_S21_D469, L0_S22_D543, L0_S23_D617, L1_S24_D677, L1_S25_D1854, L2_S26_D3037, L2_S27_D3130, L2_S28_D3223, L3_S29_D3316, L3_S30_D3496, L3_S31_D3836, L3_S32_D3852, L3_S33_D3856, L3_S34_D3875, L3_S35_D3886, L3_S36_D3919, L3_S37_D3942, L3_S38_D3953, L3_S39_D3966, L3_S40_D3981, L3_S41_D3997, L3_S42_D4029, L3_S43_D4062, L3_S44_D4101, L3_S45_D4125, L3_S46_D4135, L3_S47_D4140, L3_S48_D4194, L3_S49_D4208, L3_S50_D4242, L3_S51_D4255]
Index: []

[0 rows x 56 columns]

In [ ]:
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, log_loss, make_scorer

def calc_mcc(cf_mat):
    tn, fp, fn, tp = cf_mat.ravel()
    print(tn, fp, fn, tp)
    mcc = (tp * tn - fp * fn) / np.sqrt((tp + fp) * (tp + fn) * (tn + fp) * (tn + fn))
    return mcc

def mcc_scorer(y_true, y_pred):
    cf_mat = confusion_matrix(y_true, y_pred)
    return calc_mcc(cf_mat)

def separate_X_y(df):
    X = df.drop(['Response'], axis=1)
    y = df['Response']
    return X, y

def train_with_r_forest(df):
    X_train, y_train = separate_X_y(df)

    cl_weight = {0:0.3, 1:0.7}
    
    # Grid Search
    params={'max_depth': [10, 25, 50],
            'subsample': [0.8, 0.9, 0.95],
            'colsample_bytree': [1.0],
            'scale_pos_weight': [2, 3, 4, 5]
    }

    xgb_model = xgb.XGBClassifier()
    gs = GridSearchCV(xgb_model,
                      params,
                      cv=5,
                      scoring={'mcc' : make_scorer(mcc_scorer)},
                      n_jobs=1,
                      verbose=2,
                      refit='mcc')

    gs.fit(X_train, y_train)
#rf = RandomForestClassifier(max_depth=10,n_estimators=50, random_state=33)
#    rf.fit(X_train, y_train)
    return gs

C:\Users\Tomonobu\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [ ]:



def train_rf_parameter(df):
    df = df[(df['Response'] == 0) | (df['Response'] == 1)]
    df_train, df_test = train_test_split(df, random_state=33)
    
    df_train_ok   = df_train[df_train['Response'] == 0]
    df_train_ng   = df_train[df_train['Response'] == 1]
    undersample_rate = len(df_train_ng) * 30 / len(df_train_ok)
    df_train_ok_sample = df_train_ok.sample(frac = undersample_rate)
    df_train = pd.concat([df_train_ok_sample, df_train_ng])

    rf = train_with_r_forest(df_train)
    X_test, y_test = separate_X_y(df_test)
    y_pred = rf.predict(X_test)
    print(y_pred)   
    
    cf_mat = confusion_matrix(y_test, y_pred)
    print(cf_mat)

    mcc = calc_mcc(cf_mat)
    print(mcc)    
    return rf

model = train_rf_parameter(df_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits
[CV] colsample_bytree=1.0, max_depth=10, scale_pos_weight=2, subsample=0.8
31111 71 883 157
124595 133 3262 895
[CV]  colsample_bytree=1.0, max_depth=10, scale_pos_weight=2, subsample=0.8, total=  23.1s
[CV] colsample_bytree=1.0, max_depth=10, scale_pos_weight=2, subsample=0.8

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   24.0s remaining:    0.0s

31105 77 889 151
124601 127 3241 916
[CV]  colsample_bytree=1.0, max_depth=10, scale_pos_weight=2, subsample=0.8, total=  23.7s
[CV] colsample_bytree=1.0, max_depth=10, scale_pos_weight=2, subsample=0.8

In [ ]:
model.best_estimator_

In [ ]:
def train_and_predict_one_chnuk(df_train):
    df_train_ok   = df_train[df_train['Response'] == 0]
    df_train_ng   = df_train[df_train['Response'] == 1]
    df_test = df_train[df_train['Response'] == -1]
    
    undersample_rate = len(df_train_ng) * 20 / len(df_train_ok)
    df_train_ok_sample = df_train_ok.sample(frac = undersample_rate)

    df_train_balance = pd.concat([df_train_ok_sample, df_train_ng])
    
    rf = train_with_r_forest(df_train_balance)

    X_test, y_test = separate_X_y(df_test)
    y_pred = rf.predict(X_test)
      
    df_result_add = pd.DataFrame(columns=['Id', 'Response'])
    df_result_add.loc[:, 'Id']       = df_test['Id'].values
    df_result_add.loc[:, 'Response'] = y_pred
    
    return df_result_add

df_result = train_and_predict_one_chnuk(df_train)

In [ ]:
df_result[df_result['Response']==1].shape

In [ ]:
df_result[df_result['Response']==0].shape

In [ ]:
df_result.to_csv("../../submission/submit_20180621_2.csv", index=False)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1.0,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=25,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=2, seed=0, silent=True, subsample=0.95)