In [1]:
import os
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import *
import matplotlib.pyplot as plt
from matplotlib import animation
from matplotlib import cm
from parse import *
import seaborn as sns

In [2]:
CHUNKSIZE = 100000

TRAIN_PATH        = "../../data/train_StationPathInfo.csv"
TRAIN_PATH_EX     = "../../data/train_StationPathInfoEx.csv"
TEST_PATH         = "../../data/test_StationPathInfo.csv"
TEST_PATH_EX      = "../../data/test_StationPathInfoEx.csv"

TRAIN_DATE        = "../../data/train_date.csv"
TRAIN_NUMERIC     = "../../data/train_numeric.csv"
TRAIN_CATEGORICAL = "../../data/train_categorical.csv"
TEST_DATE         = "../../data/test_date.csv"
TEST_NUMERIC      = "../../data/test_numeric.csv"
TEST_CATEGORICAL  = "../../data/test_categorical.csv"

SEED = 0
CHUNKSIZE = 50000
NROWS = 1200000

ID_COLUMN = 'Id'
TARGET_COLUMN = 'Response'
STATION_NUM = 52

In [3]:
chunk_train_num = pd.read_csv(TRAIN_NUMERIC, nrows=NROWS, chunksize=CHUNKSIZE)
chunk_test_num  = pd.read_csv(TEST_NUMERIC, nrows=NROWS, chunksize=CHUNKSIZE)
chunk_train_cat = pd.read_csv(TRAIN_CATEGORICAL, nrows=NROWS, chunksize=CHUNKSIZE)
chunk_test_cat  = pd.read_csv(TEST_CATEGORICAL, nrows=NROWS, chunksize=CHUNKSIZE)

df_train_num = chunk_train_num.get_chunk(10)
df_test_num  = chunk_test_num.get_chunk(10)
df_train_cat = chunk_train_cat.get_chunk(10)
df_test_cat  = chunk_test_cat.get_chunk(10)

df_train_num.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

### 通過ステーション情報・時刻情報を読み出す。

In [4]:
# 読み出す。

df_train_bin = pd.read_csv(TRAIN_PATH)
df_test_bin  = pd.read_csv(TEST_PATH)
df_pass = pd.concat([df_train_bin, df_test_bin])

In [5]:
# 時系列でソートしたヒートマップを出してみる。

TEST_START_TIME      = "../../data/test_StartEndTime.csv"
TRAIN_START_TIME     = "../../data/train_StartEndTime.csv"

df_start_train = pd.read_csv(TRAIN_START_TIME)
df_start_train = df_start_train.ix[:,['Id','StartTime','EndTime', 'Response']]
df_start_test = pd.read_csv(TEST_START_TIME)
df_start_test['Response'] = -1
df_time = pd.concat([df_start_train, df_start_test])

C:\Users\Tomonobu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

In [6]:
df_pass.columns

Index(['Id', 'L0_S0_D1', 'L0_S1_D26', 'L0_S2_D34', 'L0_S3_D70', 'L0_S4_D106',
       'L0_S5_D115', 'L0_S6_D120', 'L0_S7_D137', 'L0_S8_D145', 'L0_S9_D152',
       'L0_S10_D216', 'L0_S11_D280', 'L0_S12_D331', 'L0_S13_D355',
       'L0_S14_D360', 'L0_S15_D395', 'L0_S16_D423', 'L0_S17_D432',
       'L0_S18_D437', 'L0_S19_D454', 'L0_S20_D462', 'L0_S21_D469',
       'L0_S22_D543', 'L0_S23_D617', 'L1_S24_D677', 'L1_S25_D1854',
       'L2_S26_D3037', 'L2_S27_D3130', 'L2_S28_D3223', 'L3_S29_D3316',
       'L3_S30_D3496', 'L3_S31_D3836', 'L3_S32_D3852', 'L3_S33_D3856',
       'L3_S34_D3875', 'L3_S35_D3886', 'L3_S36_D3919', 'L3_S37_D3942',
       'L3_S38_D3953', 'L3_S39_D3966', 'L3_S40_D3981', 'L3_S41_D3997',
       'L3_S42_D4029', 'L3_S43_D4062', 'L3_S44_D4101', 'L3_S45_D4125',
       'L3_S46_D4135', 'L3_S47_D4140', 'L3_S48_D4194', 'L3_S49_D4208',
       'L3_S50_D4242', 'L3_S51_D4255'],
      dtype='object')

In [7]:
pass_collist = ['Id']
for i in range(STATION_NUM):
    pass_collist.append('p_S' + str(i))

df_pass.columns = pass_collist
df_pass.head()

,Id,p_S0,p_S1,p_S2,p_S3,p_S4,p_S5,p_S6,p_S7,p_S8,...,p_S42,p_S43,p_S44,p_S45,p_S46,p_S47,p_S48,p_S49,p_S50,p_S51
0,4,1,1,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,1,1,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,9,1,1,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,11,1,1,0,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

カテゴリカルデータを、数値に変換する。

In [25]:
def categorical_data_to_int(c):
    if c == '':
        return '0'
    r = parse("T{}", c)
    return r[0]

In [31]:
def convert_categorical_data_exec(from_file, to_file):
    df = pd.read_csv(from_file, keep_default_na=False)
    columns = df.columns
    for c in columns:
        if c != 'Id':
            df[c] = df[c].map(categorical_data_to_int)
    
    df.to_csv(to_file, index=False)

def convert_categorical_data_id(station_id):
    file_train_cat = '../../data/train_categorical_station_' + str(station_id) + '.csv' 
    file_test_cat  = '../../data/test_categorical_station_' + str(station_id) + '.csv'

    file_train_cat_dec = '../../data/train_categorical_dec_station_' + str(station_id) + '.csv' 
    file_test_cat_dec  = '../../data/test_categorical_dec_station_' + str(station_id) + '.csv'

    if os.path.exists(file_train_cat):
        convert_categorical_data_exec(file_train_cat, file_train_cat_dec)
    
    if os.path.exists(file_test_cat):
        convert_categorical_data_exec(file_test_cat,  file_test_cat_dec)
    
for id in range(STATION_NUM):
    convert_categorical_data_id(id)

In [28]:
df_train.columns

Index(['Id', 'L0_S1_F25', 'L0_S1_F27', 'L0_S1_F29', 'L0_S1_F31'], dtype='object')

In [29]:
df_train[df_train['L0_S1_F25'] != "0"]

              Id L0_S1_F25 L0_S1_F27 L0_S1_F29 L0_S1_F31
7800       15498         1         9         1         9
12063      24042         1         9         1         9
41533      83154         1         9         1         9
41534      83155         1         9         1         9
51457     103078         1         9         1         9
91731     183688         1         9         1         9
96543     193268         1         9         1         9
159886    319566         1         9         1         9
278255    556400         1         9         1         9
304205    608617         1         9         1         9
312757    625778         1         9         1         9
322556    645545         1         9         1         9
433244    866899         1         9         1         9
433245    866900         1         9         1         9
496029    992901         1         9         1         9
512951   1026543         1         9         1         9
658499   1317854         1         9         1         9
697043   1394709         1         9         1         9
715835   1432368         1         9         1         9
718943   1438551         1         9         1         9
757191   1514840         1         9         1         9
759734   1520080         1         9         1         9
791873   1584173         1         9         1         9
875382   1750732         1         9         1         9
1005705  2011424         1         9         1         9