引っ越し後一度も実行してない。<br>
いけるはずではある。

In [3]:
import os
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import *
import matplotlib.pyplot as plt
from matplotlib import animation
from matplotlib import cm
from parse import *
import seaborn as sns

In [4]:
CHUNKSIZE = 100000

TRAIN_DATE        = "../../data/train_date.csv"
TRAIN_NUMERIC     = "../../data/train_numeric.csv"
TRAIN_CATEGORICAL = "../../data/train_categorical.csv"
TEST_DATE         = "../../data/test_date.csv"
TEST_NUMERIC      = "../../data/test_numeric.csv"
TEST_CATEGORICAL  = "../../data/test_categorical.csv"

SEED = 0
CHUNKSIZE = 50000
NROWS = 1200000

ID_COLUMN = 'Id'
TARGET_COLUMN = 'Response'

In [5]:
chunk_train_date = pd.read_csv(TRAIN_DATE, nrows=NROWS, chunksize=CHUNKSIZE)
chunk_test_date  = pd.read_csv(TEST_DATE, nrows=NROWS, chunksize=CHUNKSIZE)

df_train_date = chunk_train_date.get_chunk(10)
df_test_date  = chunk_test_date.get_chunk(10)

In [6]:
df_train_date.head()

,Id,L0_S0_D1,L0_S0_D3,L0_S0_D5,L0_S0_D7,L0_S0_D9,L0_S0_D11,L0_S0_D13,L0_S0_D15,L0_S0_D17,...,L3_S50_D4246,L3_S50_D4248,L3_S50_D4250,L3_S50_D4252,L3_S50_D4254,L3_S51_D4255,L3_S51_D4257,L3_S51_D4259,L3_S51_D4261,L3_S51_D4263
0,4,82.24,82.24,82.24,82.24,82.24,82.24,82.24,82.24,82.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,1618.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,1149.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,602.64,602.64,602.64,602.64,602.64,602.64,602.64,602.64,602.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
STATION_NUM = 52
station_line_list = [-999 for i in range(STATION_NUM)]
unique_col_list = ['Id']
cols = df_train_date.columns

for column_name in cols:
    if column_name != 'Id':
        r = parse("L{}_S{}_{}", column_name)
        line_id    = int(r[0])
        station_id = int(r[1])
        if (-999 == station_line_list[station_id]):
            station_line_list[station_id] = line_id
            unique_col_list.append(column_name)
        elif (line_id != station_line_list[station_id]):
            print('★★★ERR')

In [8]:
print(station_line_list)
print(unique_col_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]
['Id', 'L0_S0_D1', 'L0_S1_D26', 'L0_S2_D34', 'L0_S3_D70', 'L0_S4_D106', 'L0_S5_D115', 'L0_S6_D120', 'L0_S7_D137', 'L0_S8_D145', 'L0_S9_D152', 'L0_S10_D216', 'L0_S11_D280', 'L0_S12_D331', 'L0_S13_D355', 'L0_S14_D360', 'L0_S15_D395', 'L0_S16_D423', 'L0_S17_D432', 'L0_S18_D437', 'L0_S19_D454', 'L0_S20_D462', 'L0_S21_D469', 'L0_S22_D543', 'L0_S23_D617', 'L1_S24_D677', 'L1_S25_D1854', 'L2_S26_D3037', 'L2_S27_D3130', 'L2_S28_D3223', 'L3_S29_D3316', 'L3_S30_D3496', 'L3_S31_D3836', 'L3_S32_D3852', 'L3_S33_D3856', 'L3_S34_D3875', 'L3_S35_D3886', 'L3_S36_D3919', 'L3_S37_D3942', 'L3_S38_D3953', 'L3_S39_D3966', 'L3_S40_D3981', 'L3_S41_D3997', 'L3_S42_D4029', 'L3_S43_D4062', 'L3_S44_D4101', 'L3_S45_D4125', 'L3_S46_D4135', 'L3_S47_D4140', 'L3_S48_D4194', 'L3_S49_D4208', 'L3_S50_D4242', 'L3_S51_D4255']

STATION_ID だけで STATION が特定できることがわかった。
(同一のSTATION_ID が異なる LINE に複数含まれることはない)

In [9]:
df_train_bin = pd.read_csv(TRAIN_DATE, usecols=unique_col_list, nrows=NROWS)
df_test_bin  = pd.read_csv(TEST_DATE,  usecols=unique_col_list, nrows=NROWS)

In [11]:
def encode_path_info(val):
    if np.isnan(val):
        return 0
    else:
        return 1

for col in unique_col_list:
    if 'Id' != col:
        df_train_bin[col] = df_train_bin[col].apply(lambda x:encode_path_info(x))
        df_test_bin[col]  = df_test_bin[col].apply(lambda x:encode_path_info(x))

In [12]:
# 保存する。

df_train_bin.to_csv("../../data/train_StationPathInfo.csv", index=False)
df_test_bin.to_csv("../../data/test_StationPathInfo.csv", index=False)

In [13]:
df_train = pd.read_csv(TRAIN_DATE, usecols=unique_col_list, nrows=NROWS)
df_test  = pd.read_csv(TEST_DATE,  usecols=unique_col_list, nrows=NROWS)

In [21]:
def encode_path_info_w(val, col_idx):
    if np.isnan(val):
        return 0
    else:
        return 1 << col_idx

col_idx = 0
for col in unique_col_list:
    if ('Id' != col):
        df_train[col] = df_train[col].apply(lambda x:encode_path_info_w(x, col_idx))
        col_idx += 1

In [22]:
sum_col_list = [name for name in unique_col_list if name != 'Id']
df_train['route_sum'] = df_train[sum_col_list].sum(axis=1)

In [23]:
unique_path_list = df_train['route_sum'].unique()
print(unique_path_list.size)

1

In [24]:
# 保存する。

df_train.to_csv("../../data/train_StationPathInfoEx.csv", index=False)
df_test.to_csv("../../data/test_StationPathInfoEx.csv", index=False)