In [1]:
import os
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import *
import matplotlib.pyplot as plt
from matplotlib import animation
from matplotlib import cm
from parse import *
import seaborn as sns

In [2]:
CHUNKSIZE = 100000

TRAIN_PATH        = "../../data/train_StationPathInfo.csv"
TRAIN_PATH_EX     = "../../data/train_StationPathInfoEx.csv"
TEST_PATH         = "../../data/test_StationPathInfo.csv"
TEST_PATH_EX      = "../../data/test_StationPathInfoEx.csv"

SEED = 0
CHUNKSIZE = 50000
NROWS = 1200000

ID_COLUMN = 'Id'
TARGET_COLUMN = 'Response'

In [3]:
# 読み出す。

df_train_bin = pd.read_csv(TRAIN_PATH)
df_test_bin  = pd.read_csv(TEST_PATH)
df_pass = pd.concat([df_train_bin, df_test_bin])

通過ステーションをヒートマップにしてみる。

In [4]:
# 時系列でソートしたヒートマップを出してみる。

TEST_START_TIME      = "../../data/test_StartEndTime.csv"
TRAIN_START_TIME     = "../../data/train_StartEndTime.csv"

df_start_train = pd.read_csv(TRAIN_START_TIME)
df_start_train = df_start_train.ix[:,['Id','StartTime','EndTime', 'Response']]
df_start_test = pd.read_csv(TEST_START_TIME)
df_start_test['Response'] = -1

C:\Users\Tomonobu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

In [5]:
df_start_train.head()

   Id  StartTime  EndTime  Response
0   4      82.24    87.29         0
1   6    1313.12  1315.75         0
2   7    1618.70  1624.42         0
3   9    1149.20  1154.16         0
4  11     602.64   606.02         0

In [6]:
df_start_test.head()
df_start = pd.concat([df_start_train, df_start_test])
df_start.head(100)

     Id  StartTime  EndTime  Response
0     4      82.24    87.29         0
1     6    1313.12  1315.75         0
2     7    1618.70  1624.42         0
3     9    1149.20  1154.16         0
4    11     602.64   606.02         0
5    13    1331.66  1339.73         0
6    14    1662.63  1664.04         0
7    16     791.22   804.36         0
8    18     517.64   518.08         0
9    23     156.27   157.89         0
10   26    1104.78  1105.95         0
11   27     392.85   401.41         0
12   28      55.44    62.10         0
13   31      98.99    99.67         0
14   34     354.51   365.38         0
15   38    1633.80  1636.37         0
16   41     476.06   476.57         0
17   44    1532.42  1542.00         0
18   47     263.21   263.44         0
19   49     675.84   677.68         0
20   52     966.77   991.61         0
21   55    1341.05  1346.19         0
22   56     886.18   890.10         0
23   57     609.56   611.48         0
24   63     656.22   668.04         0
25   68    1450.09  1450.84         0
26   70     187.57   188.97         0
27   71    1458.06  1460.32         0
28   72    1293.17  1297.48         0
29   73     319.66   321.29         0
..  ...        ...      ...       ...
70  145     634.52   637.20         0
71  146    1164.57  1170.89         0
72  152      96.42    99.16         0
73  153      96.42    99.16         0
74  156    1398.60  1399.12         0
75  159     877.14   887.27         0
76  160       0.71     0.75         0
77  162    1042.79  1074.67         0
78  163    1397.12  1397.70         0
79  165    1378.30  1379.12         0
80  166     456.80   493.38         0
81  169     653.85   655.45         0
82  174     231.86   234.26         0
83  175     370.81   373.42         0
84  176     370.81   373.42         0
85  177     370.81   387.98         0
86  179     693.51   701.30         0
87  181    1449.22  1449.80         0
88  183    1112.60  1115.24         0
89  184    1112.60  1122.70         0
90  185     610.80   616.90         0
91  187     266.35   268.00         0
92  188     679.13   737.51         0
93  190     687.90   690.48         0
94  191     118.88   120.99         0
95  192     673.36   675.59         0
96  197    1161.06  1165.68         0
97  200     576.73   584.32         0
98  201    1214.60  1216.28         0
99  205    1658.58  1660.46         0

[100 rows x 4 columns]

In [7]:
df_train = pd.merge(df_start, df_pass, how='left')
df_train = df_train.fillna(-1500)

In [8]:
df_train[df_train.isnull().any(axis=1)]

Empty DataFrame
Columns: [Id, StartTime, EndTime, Response, L0_S0_D1, L0_S1_D26, L0_S2_D34, L0_S3_D70, L0_S4_D106, L0_S5_D115, L0_S6_D120, L0_S7_D137, L0_S8_D145, L0_S9_D152, L0_S10_D216, L0_S11_D280, L0_S12_D331, L0_S13_D355, L0_S14_D360, L0_S15_D395, L0_S16_D423, L0_S17_D432, L0_S18_D437, L0_S19_D454, L0_S20_D462, L0_S21_D469, L0_S22_D543, L0_S23_D617, L1_S24_D677, L1_S25_D1854, L2_S26_D3037, L2_S27_D3130, L2_S28_D3223, L3_S29_D3316, L3_S30_D3496, L3_S31_D3836, L3_S32_D3852, L3_S33_D3856, L3_S34_D3875, L3_S35_D3886, L3_S36_D3919, L3_S37_D3942, L3_S38_D3953, L3_S39_D3966, L3_S40_D3981, L3_S41_D3997, L3_S42_D4029, L3_S43_D4062, L3_S44_D4101, L3_S45_D4125, L3_S46_D4135, L3_S47_D4140, L3_S48_D4194, L3_S49_D4208, L3_S50_D4242, L3_S51_D4255]
Index: []

[0 rows x 56 columns]

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier


def separate_X_y(df):
    X = df.drop(['Response'], axis=1)
    y = df['Response']
    return X, y

def train_with_r_forest(df):
    X_train, y_train = separate_X_y(df)

    cl_weight = {0:0.3, 1:0.7}
    
    rf = RandomForestClassifier(max_depth=10,n_estimators=50, random_state=33)
    rf.fit(X_train, y_train)
    return rf

In [10]:
from sklearn.metrics import confusion_matrix


def calc_mcc(cf_mat):
    tn, fp, fn, tp = cf_mat.ravel()
    print(tn, fp, fn, tp)
    mcc = (tp * tn - fp * fn) / np.sqrt((tp + fp) * (tp + fn) * (tn + fp) * (tn + fn))
    return mcc


def train_rf_parameter(df):
    df = df[(df['Response'] == 0) | (df['Response'] == 1)]
    df_train, df_test = train_test_split(df, random_state=33)
    
    df_train_ok   = df_train[df_train['Response'] == 0]
    df_train_ng   = df_train[df_train['Response'] == 1]
    undersample_rate = len(df_train_ng) * 30 / len(df_train_ok)
    df_train_ok_sample = df_train_ok.sample(frac = undersample_rate)
    df_train = pd.concat([df_train_ok_sample, df_train_ng])

    rf = train_with_r_forest(df_train)
    X_test, y_test = separate_X_y(df_test)
    y_pred = rf.predict(X_test)
    print(y_pred)   
    
    cf_mat = confusion_matrix(y_test, y_pred)
    print(cf_mat)

    mcc = calc_mcc(cf_mat)
    print(mcc)    

train_rf_parameter(df_train)

[0 0 0 ..., 0 0 0]
[[293898    357]
 [  1537    145]]
293898 357 1537 145
0.1552668126

In [11]:
def train_and_predict_one_chnuk(df_train):
    df_train_ok   = df_train[df_train['Response'] == 0]
    df_train_ng   = df_train[df_train['Response'] == 1]
    df_test = df_train[df_train['Response'] == -1]
    
    undersample_rate = len(df_train_ng) * 20 / len(df_train_ok)
    df_train_ok_sample = df_train_ok.sample(frac = undersample_rate)

    df_train_balance = pd.concat([df_train_ok_sample, df_train_ng])
    
    rf = train_with_r_forest(df_train_balance)

    X_test, y_test = separate_X_y(df_test)
    y_pred = rf.predict(X_test)
      
    df_result_add = pd.DataFrame(columns=['Id', 'Response'])
    df_result_add.loc[:, 'Id']       = df_test['Id'].values
    df_result_add.loc[:, 'Response'] = y_pred
    
    return df_result_add

df_result = train_and_predict_one_chnuk(df_train)

In [12]:
df_result[df_result['Response']==1].shape

(3291, 2)

In [13]:
df_result[df_result['Response']==0].shape

(1180457, 2)

In [15]:
df_result.to_csv("../../submission/submit_20180620_1.csv", index=False)