In [2]:
import os
import pandas as pd
import numpy as np
import math
from matplotlib.pyplot import *
import matplotlib.pyplot as plt
from matplotlib import animation
from matplotlib import cm
from parse import *
import seaborn as sns

In [3]:
CHUNKSIZE = 100000

TRAIN_PATH        = "../train_StationPathInfo.csv"
TRAIN_PATH_EX     = "../train_StationPathInfoEx.csv"
TEST_PATH         = "../test_StationPathInfo.csv"
TEST_PATH_EX      = "../test_StationPathInfoEx.csv"

TRAIN_DATE        = "../train_date.csv"
TRAIN_NUMERIC     = "../train_numeric.csv"
TRAIN_CATEGORICAL = "../train_categorical.csv"
TEST_DATE         = "../test_date.csv"
TEST_NUMERIC      = "../test_numeric.csv"
TEST_CATEGORICAL  = "../test_categorical.csv"

SEED = 0
CHUNKSIZE = 50000
NROWS = 1200000

ID_COLUMN = 'Id'
TARGET_COLUMN = 'Response'

In [4]:
chunk_train_num = pd.read_csv(TRAIN_NUMERIC, nrows=NROWS, chunksize=CHUNKSIZE)
chunk_test_num  = pd.read_csv(TEST_NUMERIC, nrows=NROWS, chunksize=CHUNKSIZE)
chunk_train_cat = pd.read_csv(TRAIN_CATEGORICAL, nrows=NROWS, chunksize=CHUNKSIZE)
chunk_test_cat  = pd.read_csv(TEST_CATEGORICAL, nrows=NROWS, chunksize=CHUNKSIZE)

df_train_num = chunk_train_num.get_chunk(10)
df_test_num  = chunk_test_num.get_chunk(10)
df_train_cat = chunk_train_cat.get_chunk(10)
df_test_cat  = chunk_test_cat.get_chunk(10)

df_train_num.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
STATION_NUM = 52

num_cols = df_train_num.columns
cat_cols = df_train_cat.columns

num_feature_list = []
cat_feature_list = []

for cur_station_id in range(STATION_NUM):
    num_feature_list_one = []
    cat_feature_list_one = []
    for column_name in num_cols:
        if column_name != 'Id':
            r = parse("L{}_S{}_F{}", column_name)
            if r is not None:
                col_line_id    = int(r[0])
                col_station_id = int(r[1])
                if cur_station_id == col_station_id:
                    num_feature_list_one.append(column_name)
    for column_name in cat_cols:
        if column_name != 'Id':
            r = parse("L{}_S{}_F{}", column_name)
            if r is not None:
                col_line_id    = int(r[0])
                col_station_id = int(r[1])
                if cur_station_id == col_station_id:
                    cat_feature_list_one.append(column_name)
        
    num_feature_list.append(num_feature_list_one)
    cat_feature_list.append(cat_feature_list_one)

In [6]:
for i in range(STATION_NUM):
    print(str(i) + '   ' + str(len(num_feature_list[i])) + '   ' + str(len(cat_feature_list[i])))

0   12   0
1   2   4
2   9   18
3   9   18
4   2   6
5   2   0
6   3   10
7   3   0
8   3   0
9   12   39
10   12   39
11   12   26
12   12   0
13   2   0
14   9   18
15   9   9
16   2   6
17   2   0
18   3   10
19   3   0
20   3   0
21   14   45
22   14   45
23   14   30
24   229   660
25   284   567
26   14   53
27   14   53
28   14   53
29   53   63
30   68   204
31   4   8
32   1   3
33   10   0
34   4   0
35   8   18
36   8   8
37   4   0
38   3   6
39   4   8
40   8   0
41   14   0
42   0   24
43   8   24
44   8   8
45   5   0
46   0   3
47   11   33
48   6   0
49   7   21
50   7   0
51   4   0

S24, S25, S30 の feature が多いので、ここを外すと普通に扱えそう…
だが、そんなことはなかった。
feature importance で上位に来る、29, 30, 31, 33 の numeric でやってみる。

### 通過ステーション情報・時刻情報を読み出す。

In [10]:
# 読み出す。

df_train_bin = pd.read_csv(TRAIN_PATH)
df_test_bin  = pd.read_csv(TEST_PATH)
# df_pass = pd.concat([df_train_bin, df_test_bin])
df_pass = df_train_bin

In [11]:
# 時系列でソートしたヒートマップを出してみる。

TEST_START_TIME      = "../test_StartEndTime.csv"
TRAIN_START_TIME     = "../train_StartEndTime.csv"

df_start_train = pd.read_csv(TRAIN_START_TIME)
df_start_train = df_start_train.ix[:,['Id','StartTime','EndTime', 'Response']]
df_start_test = pd.read_csv(TEST_START_TIME)
df_start_test['Response'] = -1
df_time = pd.concat([df_start_train, df_start_test])

C:\Users\Tomonobu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

## station のnumerical data, categorical data とマージする。

### station 0編

S0 は Categorical Feature がない。

### station 1 編

In [13]:
df_station1_train = pd.read_csv("./train_categorical_station_1.csv")
df_station1_all = pd.merge(df_pass, df_time, on='Id', how='left')
df_station1_all = pd.merge(df_station1_all, df_station1_train, on = 'Id', how='left')

C:\Users\Tomonobu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df_station1_pass = df_station1_all[df_station1_all['L0_S1_D26'] ==1]
df_station1_pass

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S49_D4208,L3_S50_D4242,L3_S51_D4255,StartTime,EndTime,Response,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31
0,4,1,1,1,0,1,0,0,1,1,...,0,0,0,82.24,87.29,0,NaN,NaN,NaN,NaN
2,7,1,1,1,0,0,1,1,0,1,...,0,0,0,1618.70,1624.42,0,NaN,NaN,NaN,NaN
3,9,1,1,1,0,1,0,0,1,1,...,0,0,0,1149.20,1154.16,0,NaN,NaN,NaN,NaN
4,11,1,1,0,1,1,0,0,1,1,...,0,0,0,602.64,606.02,0,NaN,NaN,NaN,NaN
5,13,1,1,0,1,1,0,0,1,1,...,0,0,0,1331.66,1339.73,0,NaN,NaN,NaN,NaN
8,18,1,1,1,0,1,0,0,1,1,...,0,0,0,517.64,518.08,0,NaN,NaN,NaN,NaN
10,26,1,1,1,0,1,0,0,1,1,...,0,0,0,1104.78,1105.95,0,NaN,NaN,NaN,NaN
11,27,1,1,0,1,0,1,1,0,1,...,0,0,0,392.85,401.41,0,NaN,NaN,NaN,NaN
12,28,1,1,0,1,1,0,0,1,1,...,0,0,0,55.44,62.10,0,NaN,NaN,NaN,NaN
13,31,1,1,1,0,1,0,1,0,1,...,0,0,0,98.99,99.67,0,NaN,NaN,NaN,NaN
14,34,1,1,1,0,0,1,1,0,1,...,0,0,0,354.51,365.38,0,NaN,NaN,NaN,NaN
15,38,1,1,1,0,1,0,0,1,1,...,0,0,0,1633.80,1636.37,0,NaN,NaN,NaN,NaN
17,44,1,1,1,0,0,1,0,1,1,...,0,0,0,1532.42,1542.00,0,NaN,NaN,NaN,NaN
19,49,1,1,0,1,1,0,1,0,1,...,0,0,0,675.84,677.68,0,NaN,NaN,NaN,NaN
22,56,1,1,1,0,1,0,0,1,1,...,0,0,0,886.18,890.10,0,NaN,NaN,NaN,NaN
23,57,1,1,1,0,0,1,1,0,1,...,0,0,0,609.56,611.48,0,NaN,NaN,NaN,NaN
25,68,1,1,0,1,0,1,0,1,1,...,0,0,0,1450.09,1450.84,0,NaN,NaN,NaN,NaN
26,70,1,1,1,0,0,1,1,0,1,...,1,0,1,187.57,188.97,0,NaN,NaN,NaN,NaN
27,71,1,1,0,1,1,0,0,1,1,...,0,0,0,1458.06,1460.32,0,NaN,NaN,NaN,NaN
30,75,1,1,1,0,0,1,1,0,1,...,0,0,0,1214.71,1216.35,0,NaN,NaN,NaN,NaN
32,78,1,1,0,1,0,1,0,1,1,...,0,0,0,140.41,146.15,0,NaN,NaN,NaN,NaN
34,81,1,1,0,1,1,0,0,1,1,...,0,0,0,1378.89,1379.56,0,NaN,NaN,NaN,NaN
35,82,1,1,1,0,1,0,0,1,1,...,0,0,0,1674.90,1691.67,0,NaN,NaN,NaN,NaN
37,86,1,1,0,1,0,1,0,1,1,...,0,0,0,922.90,927.11,0,NaN,NaN,NaN,NaN
38,87,1,1,0,1,1,0,0,1,1,...,0,0,0,1213.34,1214.94,0,NaN,NaN,NaN,NaN
40,91,1,1,1,0,1,0,0,1,1,...,0,0,0,520.01,521.09,0,NaN,NaN,NaN,NaN
41,92,1,1,0,1,0,1,0,1,1,...,0,0,0,1496.77,1499.01,0,NaN,NaN,NaN,NaN
42,93,1,1,0,1,0,1,1,0,1,...,0,0,0,1096.09,1097.61,0,NaN,NaN,NaN,NaN
43,95,1,1,1,0,1,0,1,0,1,...,0,0,0,821.29,823.53,0,NaN,NaN,NaN,NaN
44,96,1,1,0,1,0,1,1,0,1,...,0,0,0,1249.58,1260.61,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183691,2367386,1,1,1,0,0,1,1,0,1,...,0,1,1,1398.58,1399.06,0,NaN,NaN,NaN,NaN
1183692,2367389,1,1,1,0,0,1,0,1,1,...,0,0,0,1561.83,1565.55,0,NaN,NaN,NaN,NaN
1183693,2367390,1,1,0,1,0,1,1,0,1,...,0,0,0,335.51,337.05,0,NaN,NaN,NaN,NaN
1183695,2367393,1,1,0,1,1,0,0,1,1,...,0,0,0,1365.41,1371.78,0,NaN,NaN,NaN,NaN
1183696,2367395,1,1,1,0,1,0,0,1,1,...,0,0,0,824.45,827.52,0,NaN,NaN,NaN,NaN
1183698,2367399,1,1,0,1,0,1,0,1,1,...,0,0,0,255.61,256.36,0,NaN,NaN,NaN,NaN
1183706,2367416,1,1,0,1,1,0,0,1,1,...,0,0,0,638.01,642.94,0,NaN,NaN,NaN,NaN
1183707,2367418,1,1,1,0,0,1,1,0,1,...,0,0,0,567.91,569.93,0,NaN,NaN,NaN,NaN
1183708,2367421,1,1,0,1,0,1,0,1,1,...,0,0,0,1428.32,1429.55,0,NaN,NaN,NaN,NaN
1183710,2367423,1,1,0,1,1,0,0,1,1,...,0,0,0,139.45,140.01,0,NaN,NaN,NaN,NaN
1183713,2367430,1,1,1,0,1,0,0,1,1,...,0,0,0,14.48,18.40,0,NaN,NaN,NaN,NaN
1183714,2367431,1,1,1,0,0,1,1,0,1,...,0,0,0,335.90,338.02,0,NaN,NaN,NaN,NaN
1183715,2367433,1,1,1,0,0,1,1,0,1,...,0,0,0,335.90,342.02,0,NaN,NaN,NaN,NaN
1183716,2367435,1,1,0,1,1,0,1,0,1,...,0,0,0,1567.97,1574.73,0,NaN,NaN,NaN,NaN
1183717,2367437,1,1,0,1,1,0,1,0,1,...,0,0,0,1567.97,1611.48,0,NaN,NaN,NaN,NaN
1183719,2367440,1,1,1,0,1,0,0,1,1,...,0,0,0,486.82,487.42,0,NaN,NaN,NaN,NaN
1183720,2367442,1,1,1,0,0,1,1,0,1,...,0,0,0,340.58,342.29,0,NaN,NaN,NaN,NaN
1183724,2367458,1,1,1,0,1,0,0,1,1,...,0,0,0,888.00,892.06,0,NaN,NaN,NaN,NaN
1183725,2367459,1,1,1,0,1,0,1,0,1,...,0,0,0,113.90,115.91,0,NaN,NaN,NaN,NaN
1183728,2367462,1,1,1,0,1,0,1,0,1,...,0,0,0,1249.57,1260.61,0,NaN,NaN,NaN,NaN
1183731,2367469,1,1,0,1,0,1,1,0,1,...,0,0,0,354.40,365.26,0,NaN,NaN,NaN,NaN
1183733,2367472,1,1,1,0,0,1,1,0,1,...,0,0,0,1585.25,1592.39,0,NaN,NaN,NaN,NaN
1183734,2367473,1,1,0,1,0,1,1,0,1,...,0,0,0,1412.87,1413.12,0,NaN,NaN,NaN,NaN
1183736,2367476,1,1,0,1,0,1,0,1,1,...,0,0,0,896.98,904.17,0,NaN,NaN,NaN,NaN
1183738,2367480,1,1,0,1,1,0,0,1,1,...,0,0,0,1239.17,1242.09,0,NaN,NaN,NaN,NaN
1183740,2367487,1,1,0,1,0,1,0,1,1,...,0,0,0,55.44,62.10,0,NaN,NaN,NaN,NaN
1183742,2367490,1,1,1,0,1,0,1,0,1,...,0,0,0,1239.90,1244.04,0,NaN,NaN,NaN,NaN
1183744,2367492,1,1,0,1,0,1,1,0,1,...,0,0,0,1482.18,1490.61,0,NaN,NaN,NaN,NaN
1183745,2367493,1,1,0,1,1,0,0,1,1,...,0,0,0,608.83,610.75,0,NaN,NaN,NaN,NaN
1183746,2367495,1,1,1,0,1,0,0,1,1,...,0,0,0,937.61,942.33,0,NaN,NaN,NaN,NaN

S1 を通過したものでも、S1のCategorical Data の計測値がNanなものがある。<br>
Nanかどうかは使えるかもしれない。

In [15]:
df_station1_valid = df_station1_all[df_station1_all['L0_S0_D1'] ==1]
df_station1_valid_1 = df_station1_valid.dropna(subset=['L0_S1_F25'])
df_station1_valid_1

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S49_D4208,L3_S50_D4242,L3_S51_D4255,StartTime,EndTime,Response,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31
7800,15498,1,1,0,1,0,1,1,0,1,...,0,0,0,263.44,265.22,0,T1,T9,T1,T9
12063,24042,1,1,1,0,1,0,1,0,1,...,0,0,0,622.81,625.46,0,T1,T9,T1,T9
41533,83154,1,1,0,1,0,1,0,1,1,...,0,0,0,263.43,265.22,0,T1,T9,T1,T9
41534,83155,1,1,0,1,0,1,0,1,1,...,0,0,0,263.43,266.37,0,T1,T9,T1,T9
51457,103078,1,1,0,1,0,1,0,1,1,...,0,0,0,1661.83,1661.97,0,T1,T9,T1,T9
91731,183688,1,1,1,0,1,0,0,1,1,...,0,0,0,267.34,271.49,0,T1,T9,T1,T9
96543,193268,1,1,0,1,0,1,0,1,1,...,0,0,0,1661.83,1661.96,0,T1,T9,T1,T9
159886,319566,1,1,0,1,0,1,0,1,1,...,0,0,0,640.33,652.81,0,T1,T9,T1,T9
278255,556400,1,1,0,1,1,0,1,0,1,...,0,0,0,640.33,652.81,0,T1,T9,T1,T9
304205,608617,1,1,0,1,0,1,0,1,1,...,0,0,0,623.30,626.04,0,T1,T9,T1,T9
312757,625778,1,1,1,0,0,1,0,1,1,...,0,0,0,640.33,652.81,0,T1,T9,T1,T9
322556,645545,1,1,0,1,1,0,1,0,1,...,0,0,0,627.51,635.77,0,T1,T9,T1,T9
433244,866899,1,1,0,1,0,1,0,1,1,...,0,0,0,263.27,263.73,0,T1,T9,T1,T9
433245,866900,1,1,0,1,0,1,0,1,1,...,0,0,0,263.27,263.73,0,T1,T9,T1,T9
496029,992901,1,1,0,1,1,0,1,0,1,...,0,0,0,263.28,264.30,0,T1,T9,T1,T9
512951,1026543,1,1,0,1,1,0,0,1,1,...,0,0,0,625.56,625.82,0,T1,T9,T1,T9
658499,1317854,1,1,1,0,0,1,1,0,1,...,0,0,0,617.98,619.33,0,T1,T9,T1,T9
697043,1394709,1,1,0,1,0,1,0,1,1,...,0,0,0,625.57,633.12,0,T1,T9,T1,T9
715835,1432368,1,1,1,0,0,1,1,0,1,...,0,0,0,263.32,263.72,0,T1,T9,T1,T9
718943,1438551,1,1,1,0,0,1,1,0,1,...,0,0,0,263.17,263.72,0,T1,T9,T1,T9
757191,1514840,1,1,1,0,0,1,0,1,1,...,0,0,0,622.78,625.62,0,T1,T9,T1,T9
759734,1520080,1,1,0,1,1,0,0,1,1,...,0,0,0,263.33,263.72,0,T1,T9,T1,T9
791873,1584173,1,1,1,0,1,0,1,0,1,...,0,1,1,1439.80,1441.90,0,T1,T9,T1,T9
875382,1750732,1,1,0,1,1,0,1,0,1,...,0,0,0,263.43,265.23,0,T1,T9,T1,T9
1005705,2011424,1,1,1,0,1,0,0,1,1,...,0,0,0,263.39,265.21,0,T1,T9,T1,T9

有効な値が入ってる行は、すべて同じ値になっている。<br>
Nanかどうかは使えるかもしれない。

Nanかどうかで値の分布をみる。
T0 以外のものはResponse=0と、値の分布に差はあるが、そもそも母数が少ないので使い物にならないかも。

In [25]:
df_station1_T0 = (df_station1_valid.fillna('T0'))
df_station1_T0 = df_station1_T0[df_station1_T0['L0_S1_F25'] == 'T0']
ratio1 = (len(df_station1_T0[df_station1_T0['Response']==1])) / len(df_station1_T0)
print(ratio1)

df_station1_T_not0 = df_station1_valid.dropna()
ratio2 = (len(df_station1_T_not0[df_station1_T_not0['Response']==1])) / len(df_station1_T_not0)
print(ratio2)

0.005354410636400198
0.0

In [40]:
del df_station1_train
del df_station1_all
del df_station1_valid_1
del df_station1_pass

### station 2 編

In [43]:
df_station2_train = pd.read_csv("./train_categorical_station_2.csv")
df_station2_all = pd.merge(df_pass, df_time, on='Id', how='left')
df_station2_all = pd.merge(df_station2_all, df_station2_train, on = 'Id', how='left')
df_station2_pass = df_station2_all[df_station2_all['L0_S2_D34'] ==1]
df_station2_pass

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L0_S2_F49,L0_S2_F51,L0_S2_F53,L0_S2_F55,L0_S2_F57,L0_S2_F59,L0_S2_F61,L0_S2_F63,L0_S2_F65,L0_S2_F67
0,4,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,18,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,26,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,31,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,34,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,38,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,44,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,56,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,57,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,70,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,75,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,82,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,91,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,95,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,99,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,106,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,112,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,118,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,122,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,123,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,126,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,136,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,145,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,152,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,153,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,156,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,163,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,169,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2367391,2367290,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367393,2367292,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367403,2367312,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367408,2367322,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367421,2367340,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367422,2367341,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367423,2367342,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367426,2367350,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367427,2367352,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367429,2367358,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367430,2367360,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367437,2367380,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367439,2367382,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367444,2367394,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367445,2367397,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367447,2367401,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367448,2367402,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367452,2367410,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367457,2367419,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367459,2367425,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367462,2367428,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367463,2367432,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367466,2367438,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367469,2367446,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367471,2367448,1,1,1,0,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367477,2367455,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367486,2367477,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367490,2367483,1,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367492,2367486,1,1,1,0,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367493,2367489,1,1,1,0,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df_station2_valid = df_station2_all[df_station2_all['L0_S0_D1'] ==1]
df_station2_valid_2 = df_station2_valid.dropna(subset=['L0_S2_F49'])
df_station2_valid_2

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L0_S2_F49,L0_S2_F51,L0_S2_F53,L0_S2_F55,L0_S2_F57,L0_S2_F59,L0_S2_F61,L0_S2_F63,L0_S2_F65,L0_S2_F67
8522,16927,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
10846,21591,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
17811,35611,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
19349,38775,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
19755,39584,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
21431,42908,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
27023,54135,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
34487,69159,1,1,1,1,1,0,1,0,1,...,T1,T48,T1,T48,T1,T48,T1,T48,T1,T48
38022,76191,1,1,1,1,0,1,1,0,1,...,T1,T96,T1,T96,T1,T96,T1,T96,T1,T96
38023,76192,1,1,1,1,0,1,1,0,1,...,T1,T96,T1,T96,T1,T96,T1,T96,T1,T96
43915,87872,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
44707,89379,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
51892,103927,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
58052,116226,1,1,1,1,0,1,0,1,1,...,T1,T64,T1,T64,T1,T64,T1,T64,T1,T64
64612,129252,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
67909,135864,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
71270,142558,1,1,1,1,1,0,1,0,1,...,T1,T64,T1,T64,T1,T64,T1,T64,T1,T64
80136,160626,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
81359,163119,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
82901,166293,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
86097,172584,1,1,1,1,0,1,0,1,1,...,T1,T96,T1,T96,T1,T96,T1,T96,T1,T96
88269,176910,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
88311,176999,1,1,1,1,1,0,1,0,1,...,T1,T64,T1,T64,T1,T64,T1,T64,T1,T64
103749,207882,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
109298,218836,1,1,1,1,1,0,1,0,1,...,T1,T128,T1,T128,T1,T128,T1,T128,T1,T128
117633,235323,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
121122,242323,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
128904,257492,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
131874,263378,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
132952,265614,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035654,2071450,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1036427,2072981,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1036428,2072982,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1044406,2088906,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1044579,2089262,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1044624,2089372,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1064448,2129021,1,1,1,1,0,1,1,0,1,...,T1,T48,T1,T48,T1,T48,T1,T48,T1,T48
1066713,2133578,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1066943,2134041,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1066944,2134043,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1086984,2174411,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1087676,2175920,1,1,1,1,1,0,1,0,1,...,T1,T96,T1,T96,T1,T96,T1,T96,T1,T96
1101283,2202831,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1103964,2208215,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1108181,2216567,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1119910,2240187,1,1,1,1,1,0,0,1,1,...,T1,T64,T1,T64,T1,T64,T1,T64,T1,T64
1122775,2245875,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1127291,2254751,1,1,1,1,1,0,1,0,1,...,T1,T48,T1,T48,T1,T48,T1,T48,T1,T48
1127346,2254862,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1131370,2262813,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1140267,2280603,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1147470,2295106,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1152297,2304717,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1152311,2304749,1,1,1,1,1,0,0,1,1,...,T1,T128,T1,T128,T1,T128,T1,T128,T1,T128
1155394,2310823,1,1,1,1,0,1,1,0,1,...,T1,T128,T1,T128,T1,T128,T1,T128,T1,T128
1157731,2315493,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1163167,2326348,1,1,1,1,1,0,1,0,1,...,T1,T128,T1,T128,T1,T128,T1,T128,T1,T128
1166022,2332054,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1167922,2335856,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1182154,2364287,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32

In [47]:
df_station2_valid_2_rsp1 = df_station2_valid_2[df_station2_valid_2['Response'] == 1]
df_station2_valid_2_rsp1

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L0_S2_F49,L0_S2_F51,L0_S2_F53,L0_S2_F55,L0_S2_F57,L0_S2_F59,L0_S2_F61,L0_S2_F63,L0_S2_F65,L0_S2_F67
235258,470536,1,1,1,1,0,1,1,0,1,...,T1,T48,T1,T48,T1,T48,T1,T48,T1,T48
974489,1948933,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1122775,2245875,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32

In [48]:
df_station2_valid_2_rsp0 = df_station2_valid_2[df_station2_valid_2['Response'] == 0]
df_station2_valid_2_rsp0

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L0_S2_F49,L0_S2_F51,L0_S2_F53,L0_S2_F55,L0_S2_F57,L0_S2_F59,L0_S2_F61,L0_S2_F63,L0_S2_F65,L0_S2_F67
8522,16927,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
10846,21591,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
17811,35611,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
19349,38775,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
19755,39584,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
21431,42908,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
27023,54135,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
34487,69159,1,1,1,1,1,0,1,0,1,...,T1,T48,T1,T48,T1,T48,T1,T48,T1,T48
38022,76191,1,1,1,1,0,1,1,0,1,...,T1,T96,T1,T96,T1,T96,T1,T96,T1,T96
38023,76192,1,1,1,1,0,1,1,0,1,...,T1,T96,T1,T96,T1,T96,T1,T96,T1,T96
43915,87872,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
44707,89379,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
51892,103927,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
58052,116226,1,1,1,1,0,1,0,1,1,...,T1,T64,T1,T64,T1,T64,T1,T64,T1,T64
64612,129252,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
67909,135864,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
71270,142558,1,1,1,1,1,0,1,0,1,...,T1,T64,T1,T64,T1,T64,T1,T64,T1,T64
80136,160626,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
81359,163119,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
82901,166293,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
86097,172584,1,1,1,1,0,1,0,1,1,...,T1,T96,T1,T96,T1,T96,T1,T96,T1,T96
88269,176910,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
88311,176999,1,1,1,1,1,0,1,0,1,...,T1,T64,T1,T64,T1,T64,T1,T64,T1,T64
103749,207882,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
109298,218836,1,1,1,1,1,0,1,0,1,...,T1,T128,T1,T128,T1,T128,T1,T128,T1,T128
117633,235323,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
121122,242323,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
128904,257492,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
131874,263378,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
132952,265614,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019376,2038817,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1035654,2071450,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1036427,2072981,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1036428,2072982,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1044406,2088906,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1044579,2089262,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1044624,2089372,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1064448,2129021,1,1,1,1,0,1,1,0,1,...,T1,T48,T1,T48,T1,T48,T1,T48,T1,T48
1066713,2133578,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1066943,2134041,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1066944,2134043,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1086984,2174411,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1087676,2175920,1,1,1,1,1,0,1,0,1,...,T1,T96,T1,T96,T1,T96,T1,T96,T1,T96
1101283,2202831,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1103964,2208215,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1108181,2216567,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1119910,2240187,1,1,1,1,1,0,0,1,1,...,T1,T64,T1,T64,T1,T64,T1,T64,T1,T64
1127291,2254751,1,1,1,1,1,0,1,0,1,...,T1,T48,T1,T48,T1,T48,T1,T48,T1,T48
1127346,2254862,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1131370,2262813,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1140267,2280603,1,1,1,1,1,0,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1147470,2295106,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1152297,2304717,1,1,1,1,0,1,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1152311,2304749,1,1,1,1,1,0,0,1,1,...,T1,T128,T1,T128,T1,T128,T1,T128,T1,T128
1155394,2310823,1,1,1,1,0,1,1,0,1,...,T1,T128,T1,T128,T1,T128,T1,T128,T1,T128
1157731,2315493,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1163167,2326348,1,1,1,1,1,0,1,0,1,...,T1,T128,T1,T128,T1,T128,T1,T128,T1,T128
1166022,2332054,1,1,1,1,1,0,1,0,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1167922,2335856,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32
1182154,2364287,1,1,1,1,0,1,0,1,1,...,T1,T32,T1,T32,T1,T32,T1,T32,T1,T32

0 と 1 で有意な差分が見られない。
あと、列単位で全部同じものが入ってるように見える。

In [61]:
df_station2_valid_2_rsp0.T.drop_duplicates().T

,Id,L0_S0_D1,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S9_D152,L0_S10_D216,L0_S11_D280,L0_S12_D331,...,L3_S38_D3953,L3_S39_D3966,L3_S43_D4062,L3_S44_D4101,L3_S49_D4208,L3_S50_D4242,StartTime,EndTime,L0_S2_F33,L0_S2_F35
8522,16927,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,912.75,921.3,T1,T32
10846,21591,1,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,80.54,87.21,T1,T32
17811,35611,1,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,1374.03,1376.27,T1,T32
19349,38775,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,653.82,655.43,T1,T32
19755,39584,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,1624.84,1625.95,T1,T32
21431,42908,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,1660.44,1661.92,T1,T32
27023,54135,1,1,0,0,1,0,1,0,0,...,1,0,0,0,0,0,670.48,673.43,T1,T32
34487,69159,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1365.11,1367.17,T1,T48
38022,76191,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,1658.32,1660.23,T1,T96
38023,76192,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,1658.32,1660.23,T1,T96
43915,87872,1,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,670.73,671.22,T1,T32
44707,89379,1,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,896.4,904.01,T1,T32
51892,103927,1,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,263.11,263.48,T1,T32
58052,116226,1,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,373.71,374.18,T1,T64
64612,129252,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,113.13,114.16,T1,T32
67909,135864,1,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,536.72,550.19,T1,T32
71270,142558,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,254.3,255.26,T1,T64
80136,160626,1,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,837.47,878.71,T1,T32
81359,163119,1,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,258.85,259.26,T1,T32
82901,166293,1,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,625.22,632.84,T1,T32
86097,172584,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,216.82,218.85,T1,T96
88269,176910,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,970.31,971.76,T1,T32
88311,176999,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,320.65,322.22,T1,T64
103749,207882,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,289.81,291.1,T1,T32
109298,218836,1,1,0,1,0,0,0,1,0,...,0,1,0,1,0,1,1411.95,1413.12,T1,T128
117633,235323,1,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,670.76,671.21,T1,T32
121122,242323,1,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,669.18,676.97,T1,T32
128904,257492,1,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,588.6,594.31,T1,T32
131874,263378,1,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,508.09,508.97,T1,T32
132952,265614,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,1091.01,1091.69,T1,T32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019376,2038817,1,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1652.64,1659.67,T1,T32
1035654,2071450,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,594.17,603.78,T1,T32
1036427,2072981,1,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,63.32,66.3,T1,T32
1036428,2072982,1,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,63.32,66.3,T1,T32
1044406,2088906,1,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,2.59,4.43,T1,T32
1044579,2089262,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1363.42,1365.86,T1,T32
1044624,2089372,1,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,1645.26,1649.07,T1,T32
1064448,2129021,1,0,1,1,0,0,0,1,0,...,0,1,0,1,0,1,1375.87,1377.55,T1,T48
1066713,2133578,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,1458.15,1460.84,T1,T32
1066943,2134041,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,947.13,956.22,T1,T32
1066944,2134043,1,0,1,1,0,0,1,0,0,...,1,0,0,0,0,0,947.13,957.56,T1,T32
1086984,2174411,1,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,889.73,895.5,T1,T32
1087676,2175920,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,263.11,263.47,T1,T96
1101283,2202831,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,1457.24,1457.99,T1,T32
1103964,2208215,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,1662.34,1662.47,T1,T32
1108181,2216567,1,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,1652.87,1659.61,T1,T32
1119910,2240187,1,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,320.65,322.22,T1,T64
1127291,2254751,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1357.35,1361.59,T1,T48
1127346,2254862,1,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,1658.33,1660.27,T1,T32
1131370,2262813,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,593.53,603.77,T1,T32
1140267,2280603,1,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,701.41,703.36,T1,T32
1147470,2295106,1,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,524.85,526.05,T1,T32
1152297,2304717,1,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,1653.23,1660.06,T1,T32
1152311,2304749,1,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,146.78,148.2,T1,T128
1155394,2310823,1,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,489.01,489.35,T1,T128
1157731,2315493,1,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,895.23,902.91,T1,T32
1163167,2326348,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,146.97,148.36,T1,T128
1166022,2332054,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,402.24,404.19,T1,T32
1167922,2335856,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,975.49,978.27,T1,T32
1182154,2364287,1,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,63.43,66.48,T1,T32

S2の有効な特徴量は、列方向に全部重複しててT1とT32/T48/T96/T128 しかない…

### station3 編

In [70]:
df_station3_train = pd.read_csv("./train_categorical_station_3.csv")
df_station3_all = pd.merge(df_pass, df_time, on='Id', how='left')
df_station3_all = pd.merge(df_station3_all, df_station3_train, on = 'Id', how='left')
df_station3_pass = df_station3_all[df_station3_all['L0_S3_D70'] ==1]
df_station3_pass

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L0_S3_F85,L0_S3_F87,L0_S3_F89,L0_S3_F91,L0_S3_F93,L0_S3_F95,L0_S3_F97,L0_S3_F99,L0_S3_F101,L0_S3_F103
4,11,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,13,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,27,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,28,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,49,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,68,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,71,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,78,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,81,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,86,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,87,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,92,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,93,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,96,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,98,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,103,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,104,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,115,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,120,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,125,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,131,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,135,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,142,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,146,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,159,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,174,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,185,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,205,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,206,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,208,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2367400,2367305,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367401,2367306,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367407,2367318,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367411,2367326,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367412,2367327,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367413,2367331,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367415,2367334,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367418,2367337,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367420,2367339,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367424,2367343,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367434,2367374,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367440,2367385,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367446,2367398,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367449,2367404,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367450,2367405,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367456,2367417,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367460,2367426,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367461,2367427,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367464,2367434,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367465,2367436,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367468,2367445,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367476,2367454,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367478,2367456,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367479,2367457,1,1,0,1,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367484,2367470,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367485,2367475,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367487,2367479,1,1,0,1,1,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367489,2367482,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367491,2367485,1,1,0,1,0,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367494,2367494,1,1,0,1,0,1,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df_station3_valid_3 = df_station3_pass.dropna(subset=['L0_S3_F69'])
df_station3_valid_3

Empty DataFrame
Columns: [Id, L0_S0_D1, L0_S1_D26, L0_S2_D34, L0_S3_D70, L0_S4_D106, L0_S5_D115, L0_S6_D120, L0_S7_D137, L0_S8_D145, L0_S9_D152, L0_S10_D216, L0_S11_D280, L0_S12_D331, L0_S13_D355, L0_S14_D360, L0_S15_D395, L0_S16_D423, L0_S17_D432, L0_S18_D437, L0_S19_D454, L0_S20_D462, L0_S21_D469, L0_S22_D543, L0_S23_D617, L1_S24_D677, L1_S25_D1854, L2_S26_D3037, L2_S27_D3130, L2_S28_D3223, L3_S29_D3316, L3_S30_D3496, L3_S31_D3836, L3_S32_D3852, L3_S33_D3856, L3_S34_D3875, L3_S35_D3886, L3_S36_D3919, L3_S37_D3942, L3_S38_D3953, L3_S39_D3966, L3_S40_D3981, L3_S41_D3997, L3_S42_D4029, L3_S43_D4062, L3_S44_D4101, L3_S45_D4125, L3_S46_D4135, L3_S47_D4140, L3_S48_D4194, L3_S49_D4208, L3_S50_D4242, L3_S51_D4255, StartTime, EndTime, Response, L0_S3_F69, L0_S3_F71, L0_S3_F73, L0_S3_F75, L0_S3_F77, L0_S3_F79, L0_S3_F81, L0_S3_F83, L0_S3_F85, L0_S3_F87, L0_S3_F89, L0_S3_F91, L0_S3_F93, L0_S3_F95, L0_S3_F97, L0_S3_F99, L0_S3_F101, L0_S3_F103]
Index: []

[0 rows x 74 columns]

station3 の categorical data はNanばっかり?
全列試してそうなってた…

### station4 編

In [108]:
df_station4_train = pd.read_csv("./train_categorical_station_4.csv")
df_station4_all = pd.merge(df_pass, df_time, on='Id', how='left')
df_station4_all = pd.merge(df_station4_all, df_station4_train, on = 'Id', how='left')
df_station4_pass = df_station4_all[df_station4_all['L0_S4_D106'] ==1]
df_station4_pass

C:\Users\Tomonobu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S51_D4255,StartTime,EndTime,Response,L0_S4_F105,L0_S4_F107,L0_S4_F108,L0_S4_F110,L0_S4_F112,L0_S4_F113
0,4,1,1,1,0,1,0,0,1,1,...,0,82.24,87.29,0,NaN,NaN,NaN,NaN,NaN,NaN
3,9,1,1,1,0,1,0,0,1,1,...,0,1149.20,1154.16,0,NaN,NaN,NaN,NaN,NaN,NaN
4,11,1,1,0,1,1,0,0,1,1,...,0,602.64,606.02,0,NaN,NaN,NaN,NaN,NaN,NaN
5,13,1,1,0,1,1,0,0,1,1,...,0,1331.66,1339.73,0,NaN,NaN,NaN,NaN,NaN,NaN
8,18,1,1,1,0,1,0,0,1,1,...,0,517.64,518.08,0,NaN,NaN,NaN,NaN,NaN,NaN
10,26,1,1,1,0,1,0,0,1,1,...,0,1104.78,1105.95,0,NaN,NaN,NaN,NaN,NaN,NaN
12,28,1,1,0,1,1,0,0,1,1,...,0,55.44,62.10,0,NaN,NaN,NaN,NaN,NaN,NaN
13,31,1,1,1,0,1,0,1,0,1,...,0,98.99,99.67,0,NaN,NaN,NaN,NaN,NaN,NaN
15,38,1,1,1,0,1,0,0,1,1,...,0,1633.80,1636.37,0,NaN,NaN,NaN,NaN,NaN,NaN
19,49,1,1,0,1,1,0,1,0,1,...,0,675.84,677.68,0,NaN,NaN,NaN,NaN,NaN,NaN
22,56,1,1,1,0,1,0,0,1,1,...,0,886.18,890.10,0,NaN,NaN,NaN,NaN,NaN,NaN
27,71,1,1,0,1,1,0,0,1,1,...,0,1458.06,1460.32,0,NaN,NaN,NaN,NaN,NaN,NaN
34,81,1,1,0,1,1,0,0,1,1,...,0,1378.89,1379.56,0,NaN,NaN,NaN,NaN,NaN,NaN
35,82,1,1,1,0,1,0,0,1,1,...,0,1674.90,1691.67,0,NaN,NaN,NaN,NaN,NaN,NaN
38,87,1,1,0,1,1,0,0,1,1,...,0,1213.34,1214.94,0,NaN,NaN,NaN,NaN,NaN,NaN
40,91,1,1,1,0,1,0,0,1,1,...,0,520.01,521.09,0,NaN,NaN,NaN,NaN,NaN,NaN
43,95,1,1,1,0,1,0,1,0,1,...,0,821.29,823.53,0,NaN,NaN,NaN,NaN,NaN,NaN
49,103,1,1,0,1,1,0,0,1,1,...,1,1443.16,1445.22,0,NaN,NaN,NaN,NaN,NaN,NaN
50,104,1,1,0,1,1,0,0,1,1,...,0,1113.58,1120.56,0,NaN,NaN,NaN,NaN,NaN,NaN
54,115,1,1,0,1,1,0,1,0,1,...,0,80.54,87.18,0,NaN,NaN,NaN,NaN,NaN,NaN
56,118,1,1,1,0,1,0,1,0,1,...,0,904.17,908.01,0,NaN,NaN,NaN,NaN,NaN,NaN
57,120,1,1,0,1,1,0,1,0,1,...,1,1412.92,1413.31,0,NaN,NaN,NaN,NaN,NaN,NaN
59,123,1,1,1,0,1,0,1,0,1,...,0,591.90,603.13,0,NaN,NaN,NaN,NaN,NaN,NaN
61,125,1,1,0,1,1,0,1,0,1,...,0,609.39,611.32,0,NaN,NaN,NaN,NaN,NaN,NaN
62,126,1,1,1,0,1,0,0,1,1,...,0,518.78,520.37,0,NaN,NaN,NaN,NaN,NaN,NaN
65,135,1,1,0,1,1,0,1,0,1,...,0,139.45,140.03,0,NaN,NaN,NaN,NaN,NaN,NaN
66,136,1,1,1,0,1,0,1,0,1,...,1,1374.20,1376.58,0,NaN,NaN,NaN,NaN,NaN,NaN
72,152,1,1,1,0,1,0,0,1,1,...,0,96.42,99.16,0,NaN,NaN,NaN,NaN,NaN,NaN
73,153,1,1,1,0,1,0,0,1,1,...,0,96.42,99.16,0,NaN,NaN,NaN,NaN,NaN,NaN
75,159,1,1,0,1,1,0,1,0,1,...,0,877.14,887.27,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2367400,2367305,1,1,0,1,1,0,0,1,1,...,0,675.81,677.49,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367401,2367306,1,1,0,1,1,0,0,1,1,...,0,1266.78,1276.68,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367403,2367312,1,1,1,0,1,0,1,0,1,...,0,575.54,586.36,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367407,2367318,1,1,0,1,1,0,0,1,1,...,0,1095.95,1096.67,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367408,2367322,1,1,1,0,1,0,1,0,1,...,0,230.57,233.38,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367412,2367327,1,1,0,1,1,0,1,0,1,...,0,925.15,929.91,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367415,2367334,1,1,0,1,1,0,1,0,1,...,0,491.01,491.44,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367420,2367339,1,1,0,1,1,0,1,0,1,...,0,1356.22,1359.90,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367421,2367340,1,1,1,0,1,0,0,1,1,...,0,896.73,905.19,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367423,2367342,1,1,1,0,1,0,0,1,1,...,0,52.39,61.65,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367426,2367350,1,1,1,0,1,0,1,0,1,...,0,235.70,237.40,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367439,2367382,1,1,1,0,1,0,1,0,1,...,0,1635.79,1640.88,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367444,2367394,1,1,1,0,1,0,0,1,1,...,0,824.45,827.52,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367447,2367401,1,1,1,0,1,0,1,0,1,...,0,365.50,368.73,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367448,2367402,1,1,1,0,1,0,1,0,1,...,0,365.50,368.73,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367449,2367404,1,1,0,1,1,0,1,0,1,...,0,255.57,256.42,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367452,2367410,1,1,1,0,1,0,1,0,1,...,0,1365.27,1367.39,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367456,2367417,1,1,0,1,1,0,0,1,1,...,0,910.41,913.84,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367459,2367425,1,1,1,0,1,0,0,1,1,...,0,1491.04,1496.25,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367461,2367427,1,1,0,1,1,0,1,0,1,...,0,510.44,517.60,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367465,2367436,1,1,0,1,1,0,1,0,1,...,0,1567.97,1574.73,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367468,2367445,1,1,0,1,1,0,0,1,1,...,0,1214.45,1216.07,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367476,2367454,1,1,0,1,1,0,1,0,1,...,0,1568.88,1575.65,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367477,2367455,1,1,1,0,1,0,0,1,1,...,0,877.10,886.20,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367478,2367456,1,1,0,1,1,0,0,1,1,...,0,1272.59,1290.23,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367479,2367457,1,1,0,1,1,0,0,1,1,...,0,1272.59,1290.23,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367484,2367470,1,1,0,1,1,0,1,0,1,...,0,364.71,366.99,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367487,2367479,1,1,0,1,1,0,1,0,1,...,0,825.92,829.38,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367490,2367483,1,1,1,0,1,0,0,1,1,...,0,653.85,655.45,-1,NaN,NaN,NaN,NaN,NaN,NaN
2367492,2367486,1,1,1,0,1,0,1,0,1,...,0,185.92,186.32,-1,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
df_station4_valid_4 = df_station4_pass.dropna(subset=['L0_S4_F105'])
df_station4_valid_4

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S51_D4255,StartTime,EndTime,Response,L0_S4_F105,L0_S4_F107,L0_S4_F108,L0_S4_F110,L0_S4_F112,L0_S4_F113
8223,16330,1,1,1,0,1,1,0,1,1,...,0,1111.22,1112.39,0,T1,T1,T97,NaN,NaN,NaN
35936,72081,1,1,0,1,1,1,0,1,1,...,0,1528.77,1530.59,0,T1,T1,T98,T1,T1,T98
39231,78568,1,1,0,1,1,1,1,0,1,...,0,375.83,382.08,0,T1,T1,T97,NaN,NaN,NaN
40929,81956,1,1,0,1,1,1,0,1,1,...,0,314.31,318.82,0,T1,NaN,T98,T1,NaN,T98
48205,96421,1,1,0,1,1,1,1,0,1,...,0,885.81,888.99,1,T1,NaN,T98,T1,NaN,T98
58866,117847,1,1,0,1,1,1,0,1,1,...,1,508.42,510.16,0,T1,T1,T98,T1,T1,T98
67420,134878,1,1,1,0,1,1,0,1,1,...,0,972.51,975.04,0,T1,T1,T97,NaN,NaN,NaN
80736,161884,1,1,0,1,1,1,1,0,1,...,0,1111.22,1112.39,0,T1,NaN,T97,NaN,NaN,NaN
108831,217931,1,1,0,1,1,1,0,1,1,...,0,1163.86,1166.49,0,T1,T1,T97,NaN,NaN,NaN
126967,253729,1,1,0,1,1,1,0,1,1,...,0,625.27,637.64,0,T1,T1,T97,NaN,NaN,NaN
134431,268628,1,1,1,0,1,1,0,1,1,...,0,885.85,888.95,0,T1,T1,T98,T1,T1,T98
135173,270124,1,1,1,0,1,1,0,1,1,...,0,192.13,197.51,0,T1,T1,T98,T1,T1,T98
137341,274496,1,1,1,0,1,1,0,1,1,...,0,885.81,888.96,0,T1,NaN,T98,T1,NaN,T98
138410,276624,1,1,0,1,1,1,0,1,1,...,0,885.87,905.25,0,T1,T1,T98,T1,T1,T98
139278,278354,1,1,1,0,1,1,1,0,1,...,0,375.66,389.79,0,T1,T1,T97,NaN,NaN,NaN
147330,294503,1,1,1,0,1,1,0,1,1,...,0,336.27,338.06,0,T1,T1,T98,T1,T1,T98
147415,294676,1,1,0,1,1,1,1,0,1,...,0,560.56,569.07,0,T1,T1,T97,NaN,NaN,NaN
178047,356042,1,1,1,0,1,1,0,1,1,...,0,885.67,889.54,0,T1,NaN,T98,T1,NaN,T98
180276,360556,1,1,1,0,1,1,0,1,1,...,0,885.81,888.98,0,T1,T1,T98,T1,T1,T98
194872,389706,1,1,1,0,1,1,0,1,1,...,0,1111.22,1112.40,0,T1,T1,T97,NaN,NaN,NaN
209543,418916,1,1,0,1,1,1,1,0,1,...,0,508.65,510.28,0,T1,T1,T98,T1,T1,T98
211177,422153,1,1,1,0,1,1,1,0,1,...,0,885.81,889.08,0,T1,NaN,T98,T1,NaN,T98
227722,455280,1,1,1,0,1,1,0,1,1,...,0,368.47,369.24,0,T1,T1,T97,NaN,NaN,NaN
262960,526151,1,1,0,1,1,1,0,1,1,...,0,166.54,166.78,0,T1,NaN,T98,T1,NaN,T98
263802,527763,1,1,0,1,1,1,1,0,1,...,0,315.60,318.38,0,T1,NaN,T98,T1,NaN,T98
266131,532312,1,1,0,1,1,1,1,0,1,...,0,315.60,318.37,0,T1,NaN,T98,T1,NaN,T98
305390,610911,1,1,1,0,1,1,1,0,1,...,0,1111.22,1112.57,0,T1,T1,T97,NaN,NaN,NaN
317265,634835,1,1,1,0,1,1,1,0,1,...,0,1164.09,1166.44,0,T1,T1,T97,NaN,NaN,NaN
347442,695326,1,1,0,1,1,1,0,1,1,...,0,171.62,172.41,0,T1,NaN,T97,NaN,NaN,NaN
361746,723943,1,1,0,1,1,1,0,1,1,...,0,885.42,888.58,0,T1,NaN,T98,T1,NaN,T98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904480,1808852,1,1,0,1,1,1,0,1,1,...,0,339.54,341.38,0,T1,T1,T98,T1,T1,T98
911784,1823403,1,1,0,1,1,1,1,0,1,...,0,339.32,341.21,0,T1,T1,T97,NaN,NaN,NaN
932095,1864226,1,1,0,1,1,1,0,1,1,...,0,1515.06,1525.27,0,T1,NaN,T97,NaN,NaN,NaN
941984,1884003,1,1,1,0,1,1,0,1,1,...,0,1163.85,1166.49,0,T1,T1,T97,NaN,NaN,NaN
945318,1890594,1,1,0,1,1,1,1,0,1,...,0,339.32,341.22,0,T1,T1,T97,NaN,NaN,NaN
946568,1893100,1,1,1,0,1,1,1,0,1,...,0,1510.64,1512.67,0,T1,NaN,T97,NaN,NaN,NaN
952571,1905145,1,1,0,1,1,1,0,1,1,...,0,284.05,289.28,0,T1,T1,T98,T1,T1,T98
953929,1907911,1,1,0,1,1,1,0,1,1,...,0,885.57,888.73,0,T1,T1,T98,T1,T1,T98
960936,1921990,1,1,0,1,1,1,1,0,1,...,0,314.31,318.82,0,T1,NaN,T98,T1,NaN,T98
977772,1955629,1,1,1,0,1,1,0,1,1,...,0,885.63,888.79,0,T1,NaN,T98,T1,NaN,T98
984171,1968355,1,1,0,1,1,1,0,1,1,...,0,316.02,318.79,0,T1,NaN,T98,T1,NaN,T98
998116,1996325,1,1,0,1,1,1,0,1,1,...,0,556.90,558.37,0,T1,T1,T97,NaN,NaN,NaN
1015976,2031910,1,1,0,1,1,1,1,0,1,...,0,885.59,888.70,0,T1,T1,T98,T1,T1,T98
1019006,2038059,1,1,0,1,1,1,1,0,1,...,0,1164.07,1166.42,0,T1,T1,T97,NaN,NaN,NaN
1019341,2038757,1,1,1,0,1,1,0,1,1,...,0,353.93,364.64,0,T1,T1,T98,T1,T1,T98
1019342,2038758,1,1,1,0,1,1,0,1,1,...,0,353.93,388.89,0,T1,T1,T98,T1,T1,T98
1026138,2052551,1,1,1,0,1,1,0,1,1,...,0,316.01,318.80,0,T1,NaN,T98,T1,NaN,T98
1028730,2057646,1,1,1,0,1,1,1,0,1,...,0,946.79,955.80,0,T1,T1,T98,T1,T1,T98
1037180,2074455,1,1,1,0,1,1,1,0,1,...,0,886.17,890.82,0,T1,NaN,T98,T1,NaN,T98
1047495,2094944,1,1,1,0,1,1,0,1,1,...,0,560.56,566.93,0,T1,T1,T97,NaN,NaN,NaN
1055647,2111338,1,1,1,0,1,1,0,1,1,...,0,886.35,889.52,0,T1,NaN,T98,T1,NaN,T98
1063853,2127829,1,1,0,1,1,1,1,0,1,...,0,552.25,554.17,0,T1,T1,T97,NaN,NaN,NaN
1068209,2136593,1,1,1,0,1,1,0,1,1,...,0,885.57,888.73,0,T1,NaN,T98,T1,NaN,T98
1093362,2187141,1,1,0,1,1,1,1,0,1,...,0,166.54,166.78,0,T1,T1,T98,T1,T1,T98
1095675,2191751,1,1,0,1,1,1,0,1,1,...,0,1161.27,1166.40,0,T1,T1,T97,NaN,NaN,NaN
1095751,2191901,1,1,0,1,1,1,1,0,1,...,0,316.01,318.80,0,T1,NaN,T98,T1,NaN,T98
1134457,2269028,1,1,1,0,1,1,1,0,1,...,0,316.02,318.80,0,T1,NaN,T98,T1,NaN,T98
1152361,2304856,1,1,0,1,1,1,0,1,1,...,0,886.17,890.10,0,T1,NaN,T98,T1,NaN,T98
1158888,2317775,1,1,1,0,1,1,0,1,1,...,0,907.62,911.64,0,T1,T1,T98,T1,T1,T98
1165883,2331767,1,1,0,1,1,1,0,1,1,...,0,1161.27,1166.27,0,T1,T1,T97,NaN,NaN,NaN

In [110]:
df_station4_valid_4[df_station4_valid_4['Response']==1]

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S51_D4255,StartTime,EndTime,Response,L0_S4_F105,L0_S4_F107,L0_S4_F108,L0_S4_F110,L0_S4_F112,L0_S4_F113
48205,96421,1,1,0,1,1,1,1,0,1,...,0,885.81,888.99,1,T1,NaN,T98,T1,NaN,T98

In [111]:
df_station4_valid_4[df_station4_valid_4['Response']==0]

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S51_D4255,StartTime,EndTime,Response,L0_S4_F105,L0_S4_F107,L0_S4_F108,L0_S4_F110,L0_S4_F112,L0_S4_F113
8223,16330,1,1,1,0,1,1,0,1,1,...,0,1111.22,1112.39,0,T1,T1,T97,NaN,NaN,NaN
35936,72081,1,1,0,1,1,1,0,1,1,...,0,1528.77,1530.59,0,T1,T1,T98,T1,T1,T98
39231,78568,1,1,0,1,1,1,1,0,1,...,0,375.83,382.08,0,T1,T1,T97,NaN,NaN,NaN
40929,81956,1,1,0,1,1,1,0,1,1,...,0,314.31,318.82,0,T1,NaN,T98,T1,NaN,T98
58866,117847,1,1,0,1,1,1,0,1,1,...,1,508.42,510.16,0,T1,T1,T98,T1,T1,T98
67420,134878,1,1,1,0,1,1,0,1,1,...,0,972.51,975.04,0,T1,T1,T97,NaN,NaN,NaN
80736,161884,1,1,0,1,1,1,1,0,1,...,0,1111.22,1112.39,0,T1,NaN,T97,NaN,NaN,NaN
108831,217931,1,1,0,1,1,1,0,1,1,...,0,1163.86,1166.49,0,T1,T1,T97,NaN,NaN,NaN
126967,253729,1,1,0,1,1,1,0,1,1,...,0,625.27,637.64,0,T1,T1,T97,NaN,NaN,NaN
134431,268628,1,1,1,0,1,1,0,1,1,...,0,885.85,888.95,0,T1,T1,T98,T1,T1,T98
135173,270124,1,1,1,0,1,1,0,1,1,...,0,192.13,197.51,0,T1,T1,T98,T1,T1,T98
137341,274496,1,1,1,0,1,1,0,1,1,...,0,885.81,888.96,0,T1,NaN,T98,T1,NaN,T98
138410,276624,1,1,0,1,1,1,0,1,1,...,0,885.87,905.25,0,T1,T1,T98,T1,T1,T98
139278,278354,1,1,1,0,1,1,1,0,1,...,0,375.66,389.79,0,T1,T1,T97,NaN,NaN,NaN
147330,294503,1,1,1,0,1,1,0,1,1,...,0,336.27,338.06,0,T1,T1,T98,T1,T1,T98
147415,294676,1,1,0,1,1,1,1,0,1,...,0,560.56,569.07,0,T1,T1,T97,NaN,NaN,NaN
178047,356042,1,1,1,0,1,1,0,1,1,...,0,885.67,889.54,0,T1,NaN,T98,T1,NaN,T98
180276,360556,1,1,1,0,1,1,0,1,1,...,0,885.81,888.98,0,T1,T1,T98,T1,T1,T98
194872,389706,1,1,1,0,1,1,0,1,1,...,0,1111.22,1112.40,0,T1,T1,T97,NaN,NaN,NaN
209543,418916,1,1,0,1,1,1,1,0,1,...,0,508.65,510.28,0,T1,T1,T98,T1,T1,T98
211177,422153,1,1,1,0,1,1,1,0,1,...,0,885.81,889.08,0,T1,NaN,T98,T1,NaN,T98
227722,455280,1,1,1,0,1,1,0,1,1,...,0,368.47,369.24,0,T1,T1,T97,NaN,NaN,NaN
262960,526151,1,1,0,1,1,1,0,1,1,...,0,166.54,166.78,0,T1,NaN,T98,T1,NaN,T98
263802,527763,1,1,0,1,1,1,1,0,1,...,0,315.60,318.38,0,T1,NaN,T98,T1,NaN,T98
266131,532312,1,1,0,1,1,1,1,0,1,...,0,315.60,318.37,0,T1,NaN,T98,T1,NaN,T98
305390,610911,1,1,1,0,1,1,1,0,1,...,0,1111.22,1112.57,0,T1,T1,T97,NaN,NaN,NaN
317265,634835,1,1,1,0,1,1,1,0,1,...,0,1164.09,1166.44,0,T1,T1,T97,NaN,NaN,NaN
347442,695326,1,1,0,1,1,1,0,1,1,...,0,171.62,172.41,0,T1,NaN,T97,NaN,NaN,NaN
361746,723943,1,1,0,1,1,1,0,1,1,...,0,885.42,888.58,0,T1,NaN,T98,T1,NaN,T98
363845,728158,1,1,0,1,1,1,1,0,1,...,0,885.43,888.70,0,T1,NaN,T98,T1,NaN,T98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904480,1808852,1,1,0,1,1,1,0,1,1,...,0,339.54,341.38,0,T1,T1,T98,T1,T1,T98
911784,1823403,1,1,0,1,1,1,1,0,1,...,0,339.32,341.21,0,T1,T1,T97,NaN,NaN,NaN
932095,1864226,1,1,0,1,1,1,0,1,1,...,0,1515.06,1525.27,0,T1,NaN,T97,NaN,NaN,NaN
941984,1884003,1,1,1,0,1,1,0,1,1,...,0,1163.85,1166.49,0,T1,T1,T97,NaN,NaN,NaN
945318,1890594,1,1,0,1,1,1,1,0,1,...,0,339.32,341.22,0,T1,T1,T97,NaN,NaN,NaN
946568,1893100,1,1,1,0,1,1,1,0,1,...,0,1510.64,1512.67,0,T1,NaN,T97,NaN,NaN,NaN
952571,1905145,1,1,0,1,1,1,0,1,1,...,0,284.05,289.28,0,T1,T1,T98,T1,T1,T98
953929,1907911,1,1,0,1,1,1,0,1,1,...,0,885.57,888.73,0,T1,T1,T98,T1,T1,T98
960936,1921990,1,1,0,1,1,1,1,0,1,...,0,314.31,318.82,0,T1,NaN,T98,T1,NaN,T98
977772,1955629,1,1,1,0,1,1,0,1,1,...,0,885.63,888.79,0,T1,NaN,T98,T1,NaN,T98
984171,1968355,1,1,0,1,1,1,0,1,1,...,0,316.02,318.79,0,T1,NaN,T98,T1,NaN,T98
998116,1996325,1,1,0,1,1,1,0,1,1,...,0,556.90,558.37,0,T1,T1,T97,NaN,NaN,NaN
1015976,2031910,1,1,0,1,1,1,1,0,1,...,0,885.59,888.70,0,T1,T1,T98,T1,T1,T98
1019006,2038059,1,1,0,1,1,1,1,0,1,...,0,1164.07,1166.42,0,T1,T1,T97,NaN,NaN,NaN
1019341,2038757,1,1,1,0,1,1,0,1,1,...,0,353.93,364.64,0,T1,T1,T98,T1,T1,T98
1019342,2038758,1,1,1,0,1,1,0,1,1,...,0,353.93,388.89,0,T1,T1,T98,T1,T1,T98
1026138,2052551,1,1,1,0,1,1,0,1,1,...,0,316.01,318.80,0,T1,NaN,T98,T1,NaN,T98
1028730,2057646,1,1,1,0,1,1,1,0,1,...,0,946.79,955.80,0,T1,T1,T98,T1,T1,T98
1037180,2074455,1,1,1,0,1,1,1,0,1,...,0,886.17,890.82,0,T1,NaN,T98,T1,NaN,T98
1047495,2094944,1,1,1,0,1,1,0,1,1,...,0,560.56,566.93,0,T1,T1,T97,NaN,NaN,NaN
1055647,2111338,1,1,1,0,1,1,0,1,1,...,0,886.35,889.52,0,T1,NaN,T98,T1,NaN,T98
1063853,2127829,1,1,0,1,1,1,1,0,1,...,0,552.25,554.17,0,T1,T1,T97,NaN,NaN,NaN
1068209,2136593,1,1,1,0,1,1,0,1,1,...,0,885.57,888.73,0,T1,NaN,T98,T1,NaN,T98
1093362,2187141,1,1,0,1,1,1,1,0,1,...,0,166.54,166.78,0,T1,T1,T98,T1,T1,T98
1095675,2191751,1,1,0,1,1,1,0,1,1,...,0,1161.27,1166.40,0,T1,T1,T97,NaN,NaN,NaN
1095751,2191901,1,1,0,1,1,1,1,0,1,...,0,316.01,318.80,0,T1,NaN,T98,T1,NaN,T98
1134457,2269028,1,1,1,0,1,1,1,0,1,...,0,316.02,318.80,0,T1,NaN,T98,T1,NaN,T98
1152361,2304856,1,1,0,1,1,1,0,1,1,...,0,886.17,890.10,0,T1,NaN,T98,T1,NaN,T98
1158888,2317775,1,1,1,0,1,1,0,1,1,...,0,907.62,911.64,0,T1,T1,T98,T1,T1,T98
1165883,2331767,1,1,0,1,1,1,0,1,1,...,0,1161.27,1166.27,0,T1,T1,T97,NaN,NaN,NaN

F105, F108 は通過したものに値があるが、いずれにせよサンプルが少なすぎて使えないか。

### statoin 32 編

In [115]:
df_station32_train = pd.read_csv("./train_categorical_station_32.csv")
df_station32_all = pd.merge(df_pass, df_time, on='Id', how='left')
df_station32_all = pd.merge(df_station32_all, df_station32_train, on = 'Id', how='left')
df_station32_pass = df_station32_all[df_station32_all['L3_S32_D3852'] ==1]
df_station32_pass

C:\Users\Tomonobu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S48_D4194,L3_S49_D4208,L3_S50_D4242,L3_S51_D4255,StartTime,EndTime,Response,L3_S32_F3851,L3_S32_F3853,L3_S32_F3854
55,116,0,0,0,0,0,0,0,0,0,...,0,0,0,0,555.38,556.25,0,T1,NaN,T16
71,146,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1164.57,1170.89,0,T1,NaN,T16
80,166,0,0,0,0,0,0,0,0,0,...,0,0,0,0,456.80,493.38,0,T1,NaN,T256
141,293,1,1,1,0,0,1,0,1,1,...,0,0,0,0,1339.10,1342.73,0,NaN,NaN,NaN
321,616,1,1,1,0,0,1,1,0,1,...,0,0,0,0,1575.48,1578.18,0,T1,NaN,T128
424,825,1,1,0,1,1,0,0,1,1,...,0,0,0,0,1154.04,1155.52,0,T1,NaN,T128
552,1078,1,1,0,1,1,0,1,0,1,...,0,0,0,0,677.64,686.48,0,T1,NaN,T512
587,1150,1,1,1,0,0,1,1,0,1,...,0,0,0,0,1446.27,1448.33,0,NaN,NaN,NaN
633,1250,1,1,0,1,1,0,0,1,1,...,0,0,0,0,619.18,622.21,1,T1,NaN,T2
634,1251,1,1,0,1,1,0,0,1,1,...,0,0,0,0,619.18,625.71,0,T1,NaN,T2
689,1366,0,0,0,0,0,0,0,0,0,...,0,0,0,0,624.13,626.60,0,T1,NaN,T512
736,1476,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1222.17,1223.19,0,T1,NaN,T16
830,1677,1,1,1,0,0,1,1,0,1,...,0,0,0,0,351.94,352.78,0,T1,NaN,T512
997,2050,1,1,1,0,0,1,1,0,1,...,0,0,0,0,36.41,38.56,0,T1,NaN,T8
1091,2227,0,0,0,0,0,0,0,0,0,...,0,0,0,0,234.51,235.96,0,NaN,NaN,NaN
1139,2318,0,0,0,0,0,0,0,0,0,...,0,0,0,0,676.67,718.43,0,T1,NaN,T512
1183,2400,1,1,0,1,1,0,1,0,1,...,0,0,0,0,670.76,671.23,0,T1,NaN,T4
1188,2410,0,0,0,0,0,0,0,0,0,...,0,0,0,0,804.38,808.70,0,T1,NaN,T2
1229,2495,0,0,0,0,0,0,0,0,0,...,0,0,0,0,456.80,493.35,0,T1,NaN,T128
1376,2796,0,0,0,0,0,0,0,0,0,...,0,0,0,0,585.40,589.62,0,T1,NaN,T128
1522,3097,1,1,0,1,0,1,1,0,1,...,0,0,0,0,520.13,521.11,0,T1,NaN,T128
1588,3220,1,1,1,0,0,1,0,1,1,...,0,0,0,0,672.86,675.03,0,T1,NaN,T16
1589,3221,1,1,1,0,0,1,0,1,1,...,0,0,0,0,672.86,687.80,0,T1,NaN,T16
1591,3224,1,1,1,0,0,1,0,1,1,...,0,0,0,0,952.74,958.77,0,T1,NaN,T512
1635,3316,0,0,0,0,0,0,0,0,0,...,0,0,0,0,644.80,655.51,0,T1,NaN,T4
1695,3453,0,0,0,0,0,0,0,0,0,...,0,0,0,0,774.76,788.00,0,T1,NaN,T16
1712,3484,0,0,0,0,0,0,0,0,0,...,0,0,0,0,804.09,811.66,0,T1,NaN,T16
1747,3564,0,0,0,0,0,0,0,0,0,...,0,0,0,0,179.68,181.34,0,NaN,NaN,NaN
1753,3575,1,1,0,1,0,1,1,0,1,...,0,0,0,0,897.24,904.28,0,T1,NaN,T512
1774,3617,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1227.33,1239.13,0,T1,NaN,T-2147482816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2366071,2364651,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1569.13,1575.89,-1,NaN,NaN,NaN
2366180,2364845,0,0,0,0,0,0,0,0,0,...,0,0,0,0,680.98,721.54,-1,NaN,NaN,NaN
2366182,2364848,1,1,1,0,1,0,1,0,1,...,0,0,0,0,105.48,107.23,-1,NaN,NaN,NaN
2366189,2364866,1,1,0,1,0,1,0,1,1,...,0,0,0,0,701.48,703.43,-1,NaN,NaN,NaN
2366203,2364899,0,0,0,0,0,0,0,0,0,...,0,0,0,0,694.35,737.33,-1,NaN,NaN,NaN
2366281,2365046,1,1,0,1,1,0,0,1,1,...,0,0,0,0,1434.19,1440.40,-1,NaN,NaN,NaN
2366343,2365178,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1161.07,1165.70,-1,NaN,NaN,NaN
2366348,2365191,1,1,0,1,1,0,0,1,1,...,0,0,0,0,1213.51,1215.09,-1,NaN,NaN,NaN
2366362,2365214,1,1,0,1,0,1,1,0,1,...,0,0,0,0,352.80,354.59,-1,NaN,NaN,NaN
2366424,2365344,1,1,0,1,1,0,0,1,1,...,0,0,0,0,1392.16,1393.31,-1,NaN,NaN,NaN
2366479,2365451,1,1,0,1,1,0,0,1,1,...,0,0,0,0,1342.83,1350.76,-1,NaN,NaN,NaN
2366605,2365701,1,1,1,0,0,1,0,1,1,...,0,0,0,0,236.37,238.08,-1,NaN,NaN,NaN
2366679,2365836,1,1,0,1,1,0,0,1,1,...,0,0,0,0,1211.14,1213.07,-1,NaN,NaN,NaN
2366764,2366018,1,1,1,0,0,1,0,1,1,...,0,0,0,0,15.83,17.27,-1,NaN,NaN,NaN
2366778,2366041,1,1,1,0,0,1,0,1,1,...,0,0,0,0,619.18,622.21,-1,NaN,NaN,NaN
2366810,2366105,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1.38,3.02,-1,NaN,NaN,NaN
2366918,2366329,1,1,1,0,1,0,0,1,1,...,0,0,0,0,1490.28,1492.26,-1,NaN,NaN,NaN
2366956,2366405,0,0,0,0,0,0,0,0,0,...,0,0,0,0,792.73,800.71,-1,NaN,NaN,NaN
2366978,2366445,1,1,1,0,0,1,1,0,1,...,0,0,0,0,1499.81,1507.95,-1,NaN,NaN,NaN
2366984,2366454,1,1,1,0,0,1,1,0,1,...,0,0,0,0,701.23,702.97,-1,NaN,NaN,NaN
2367026,2366542,0,0,0,0,0,0,0,0,0,...,0,0,0,0,67.22,69.39,-1,NaN,NaN,NaN
2367077,2366639,1,1,1,0,1,0,0,1,1,...,0,0,0,0,938.47,943.62,-1,NaN,NaN,NaN
2367182,2366845,0,0,0,0,0,0,0,0,0,...,0,0,0,0,476.41,477.03,-1,NaN,NaN,NaN
2367208,2366900,1,1,1,0,1,0,1,0,1,...,0,0,0,0,1227.57,1239.42,-1,NaN,NaN,NaN
2367263,2367031,1,1,0,1,1,0,1,0,1,...,0,0,0,0,1107.54,1108.30,-1,NaN,NaN,NaN
2367281,2367077,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1098.09,1104.51,-1,NaN,NaN,NaN
2367282,2367078,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1098.09,1104.51,-1,NaN,NaN,NaN
2367286,2367083,1,1,0,1,0,1,1,0,1,...,0,0,0,0,560.66,566.92,-1,NaN,NaN,NaN
2367402,2367307,0,0,0,0,0,0,0,0,0,...,0,0,0,0,66.30,68.66,-1,NaN,NaN,NaN
2367445,2367397,1,1,1,0,0,1,1,0,1,...,0,0,0,0,256.79,257.82,-1,NaN,NaN,NaN

In [122]:
df_station32_pass[df_station32_pass['Response']==1]

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S48_D4194,L3_S49_D4208,L3_S50_D4242,L3_S51_D4255,StartTime,EndTime,Response,L3_S32_F3851,L3_S32_F3853,L3_S32_F3854
633,1250,1,1,0,1,1,0,0,1,1,...,0,0,0,0,619.18,622.21,1,T1,NaN,T2
2489,5017,0,0,0,0,0,0,0,0,0,...,0,0,0,0,712.63,755.72,1,T1,NaN,T4
2490,5018,0,0,0,0,0,0,0,0,0,...,0,0,0,0,712.63,755.72,1,T1,NaN,T4
3969,7944,1,1,0,1,1,0,1,0,1,...,0,0,0,0,1643.29,1646.25,1,T1,NaN,T16
6178,12280,1,1,1,0,1,0,1,0,1,...,0,0,0,0,241.43,246.42,1,T1,NaN,T2
10658,21212,0,0,0,0,0,0,0,0,0,...,0,0,0,0,712.61,755.70,1,T1,NaN,T4
12231,24386,0,0,0,0,0,0,0,0,0,...,0,0,0,0,675.21,677.43,1,T1,NaN,T16
12232,24387,0,0,0,0,0,0,0,0,0,...,0,0,0,0,675.21,677.43,1,T1,NaN,T16
13228,26379,1,1,1,0,1,0,0,1,1,...,0,0,0,0,1426.75,1428.01,1,T1,NaN,T48
13537,27071,0,0,0,0,0,0,0,0,0,...,0,0,0,0,197.52,198.22,1,T1,NaN,T2
13573,27145,1,1,0,1,1,0,1,0,1,...,0,0,0,0,230.21,231.61,1,T1,NaN,T2
13574,27146,1,1,0,1,1,0,1,0,1,...,0,0,0,0,230.21,231.61,1,T1,NaN,T2
13907,27806,0,0,0,0,0,0,0,0,0,...,0,0,0,0,745.01,772.24,1,T1,NaN,T2
14122,28188,1,1,0,1,0,1,0,1,1,...,0,0,0,0,910.05,913.59,1,T1,NaN,T2
14973,29981,1,1,1,0,1,0,1,0,1,...,0,0,0,0,368.61,369.40,1,T1,NaN,T8
15662,31344,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1394.88,1395.64,1,T1,NaN,T48
16176,32357,1,1,1,0,1,0,1,0,1,...,0,0,0,0,532.72,537.19,1,T1,NaN,T16
17114,34207,1,1,1,0,0,1,1,0,1,...,0,0,0,0,1394.87,1395.70,1,T1,NaN,T48
18691,37427,1,1,1,0,1,0,1,0,1,...,0,0,0,0,1323.69,1326.24,1,T1,NaN,T2
18981,38011,1,1,0,1,0,1,1,0,1,...,0,0,0,0,829.92,837.60,1,T1,NaN,T4
20107,40280,0,0,0,0,0,0,0,0,0,...,0,0,0,0,800.70,807.48,1,T1,NaN,T2
20560,41146,1,1,1,0,0,1,1,0,1,...,0,0,0,0,1394.32,1395.22,1,T1,NaN,T48
21858,43760,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1263.92,1271.90,1,T1,NaN,T-2147483648
22668,45354,1,1,1,0,1,0,0,1,1,...,0,0,0,0,1365.10,1367.24,1,T1,NaN,T2
22669,45355,1,1,1,0,1,0,0,1,1,...,0,0,0,0,1365.10,1367.24,1,T1,NaN,T2
22781,45597,0,0,0,0,0,0,0,0,0,...,0,0,0,0,722.93,759.87,1,T1,NaN,T4
23132,46351,1,1,0,1,0,1,1,0,1,...,0,0,0,0,273.23,274.71,1,T1,NaN,T2
24662,49417,0,0,0,0,0,0,0,0,0,...,0,0,0,0,467.00,505.41,1,T1,NaN,T2
24693,49474,1,1,0,1,1,0,0,1,1,...,0,0,0,0,889.57,895.61,1,T1,NaN,T2
26049,52248,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1003.75,1041.18,1,T1,NaN,T4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157536,2315100,1,1,1,0,0,1,1,0,1,...,0,0,0,0,273.12,274.42,1,T1,NaN,T2
1158088,2316221,0,0,0,0,0,0,0,0,0,...,0,0,0,0,795.64,803.45,1,T1,NaN,T2
1158724,2317456,0,0,0,0,0,0,0,0,0,...,0,0,0,0,711.48,757.64,1,T1,NaN,T2
1159049,2318088,0,0,0,0,0,0,0,0,0,...,0,0,0,0,737.16,767.03,1,T1,NaN,T16
1159293,2318561,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1189.17,1205.11,1,T1,NaN,T16
1160628,2321281,0,0,0,0,0,0,0,0,0,...,0,0,0,0,318.47,319.08,1,T1,NaN,T2
1162981,2325957,1,1,0,1,0,1,1,0,1,...,0,0,0,0,1360.76,1363.21,1,T1,NaN,T2
1166118,2332251,0,0,0,0,0,0,0,0,0,...,0,0,0,0,107.97,114.05,1,T1,NaN,T2
1167106,2334237,1,1,1,0,1,0,1,0,1,...,0,0,0,0,695.23,702.44,1,T1,NaN,T2
1167109,2334243,1,1,0,1,0,1,0,1,1,...,0,0,0,0,255.70,256.50,1,T1,NaN,T2
1167328,2334703,1,1,1,0,0,1,0,1,1,...,0,0,0,0,249.68,251.66,1,T1,NaN,T2
1167777,2335604,0,0,0,0,0,0,0,0,0,...,0,0,0,0,183.41,185.66,1,T1,NaN,T16
1168406,2336838,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1372.89,1374.48,1,T1,NaN,T2
1168407,2336839,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1372.89,1374.48,1,T1,NaN,T2
1169874,2339719,1,1,0,1,0,1,0,1,1,...,0,0,0,0,938.62,943.72,1,T1,NaN,T4
1170481,2340935,1,1,1,0,1,0,1,0,1,...,0,0,0,0,1323.58,1326.04,1,T1,NaN,T2
1172760,2345423,0,0,0,0,0,0,0,0,0,...,0,0,0,0,373.46,421.48,1,T1,NaN,T2
1176186,2352202,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1161.18,1166.07,1,T1,NaN,T2
1176187,2352203,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1161.18,1166.07,1,T1,NaN,T2
1177722,2355290,1,1,1,0,1,0,0,1,1,...,0,0,0,0,216.51,218.58,1,T1,NaN,T2
1177762,2355356,0,0,0,0,0,0,0,0,0,...,0,0,0,0,688.13,691.65,1,T1,NaN,T4
1178144,2356133,1,1,1,0,0,1,0,1,1,...,0,0,0,0,619.19,622.22,1,T1,NaN,T2
1178738,2357373,0,0,0,0,0,0,0,0,0,...,0,0,0,0,998.59,1014.31,1,T1,NaN,T2
1178998,2357903,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1260.62,1264.03,1,T1,NaN,T2
1180745,2361466,0,0,0,0,0,0,0,0,0,...,0,0,0,0,415.71,469.72,1,T1,NaN,T2
1181307,2362586,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1363.59,1365.91,1,T1,NaN,T2
1182009,2364000,1,1,1,0,1,0,0,1,1,...,0,0,0,0,634.83,638.50,1,T1,NaN,T2
1182410,2364844,0,0,0,0,0,0,0,0,0,...,0,0,0,0,680.98,721.54,1,T1,NaN,T2
1182423,2364867,0,0,0,0,0,0,0,0,0,...,0,0,0,0,606.10,609.72,1,T1,NaN,T4
1182441,2364898,0,0,0,0,0,0,0,0,0,...,0,0,0,0,694.35,737.33,1,T1,NaN,T2

In [117]:
df_station32_pass[df_station32_pass['Response']==0]

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S48_D4194,L3_S49_D4208,L3_S50_D4242,L3_S51_D4255,StartTime,EndTime,Response,L3_S32_F3851,L3_S32_F3853,L3_S32_F3854
55,116,0,0,0,0,0,0,0,0,0,...,0,0,0,0,555.38,556.25,0,T1,NaN,T16
71,146,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1164.57,1170.89,0,T1,NaN,T16
80,166,0,0,0,0,0,0,0,0,0,...,0,0,0,0,456.80,493.38,0,T1,NaN,T256
141,293,1,1,1,0,0,1,0,1,1,...,0,0,0,0,1339.10,1342.73,0,NaN,NaN,NaN
321,616,1,1,1,0,0,1,1,0,1,...,0,0,0,0,1575.48,1578.18,0,T1,NaN,T128
424,825,1,1,0,1,1,0,0,1,1,...,0,0,0,0,1154.04,1155.52,0,T1,NaN,T128
552,1078,1,1,0,1,1,0,1,0,1,...,0,0,0,0,677.64,686.48,0,T1,NaN,T512
587,1150,1,1,1,0,0,1,1,0,1,...,0,0,0,0,1446.27,1448.33,0,NaN,NaN,NaN
634,1251,1,1,0,1,1,0,0,1,1,...,0,0,0,0,619.18,625.71,0,T1,NaN,T2
689,1366,0,0,0,0,0,0,0,0,0,...,0,0,0,0,624.13,626.60,0,T1,NaN,T512
736,1476,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1222.17,1223.19,0,T1,NaN,T16
830,1677,1,1,1,0,0,1,1,0,1,...,0,0,0,0,351.94,352.78,0,T1,NaN,T512
997,2050,1,1,1,0,0,1,1,0,1,...,0,0,0,0,36.41,38.56,0,T1,NaN,T8
1091,2227,0,0,0,0,0,0,0,0,0,...,0,0,0,0,234.51,235.96,0,NaN,NaN,NaN
1139,2318,0,0,0,0,0,0,0,0,0,...,0,0,0,0,676.67,718.43,0,T1,NaN,T512
1183,2400,1,1,0,1,1,0,1,0,1,...,0,0,0,0,670.76,671.23,0,T1,NaN,T4
1188,2410,0,0,0,0,0,0,0,0,0,...,0,0,0,0,804.38,808.70,0,T1,NaN,T2
1229,2495,0,0,0,0,0,0,0,0,0,...,0,0,0,0,456.80,493.35,0,T1,NaN,T128
1376,2796,0,0,0,0,0,0,0,0,0,...,0,0,0,0,585.40,589.62,0,T1,NaN,T128
1522,3097,1,1,0,1,0,1,1,0,1,...,0,0,0,0,520.13,521.11,0,T1,NaN,T128
1588,3220,1,1,1,0,0,1,0,1,1,...,0,0,0,0,672.86,675.03,0,T1,NaN,T16
1589,3221,1,1,1,0,0,1,0,1,1,...,0,0,0,0,672.86,687.80,0,T1,NaN,T16
1591,3224,1,1,1,0,0,1,0,1,1,...,0,0,0,0,952.74,958.77,0,T1,NaN,T512
1635,3316,0,0,0,0,0,0,0,0,0,...,0,0,0,0,644.80,655.51,0,T1,NaN,T4
1695,3453,0,0,0,0,0,0,0,0,0,...,0,0,0,0,774.76,788.00,0,T1,NaN,T16
1712,3484,0,0,0,0,0,0,0,0,0,...,0,0,0,0,804.09,811.66,0,T1,NaN,T16
1747,3564,0,0,0,0,0,0,0,0,0,...,0,0,0,0,179.68,181.34,0,NaN,NaN,NaN
1753,3575,1,1,0,1,0,1,1,0,1,...,0,0,0,0,897.24,904.28,0,T1,NaN,T512
1774,3617,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1227.33,1239.13,0,T1,NaN,T-2147482816
1775,3619,1,1,1,0,0,1,1,0,1,...,0,0,0,0,1154.06,1155.52,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182533,2365091,1,1,0,1,1,0,0,1,1,...,0,0,0,0,1.83,3.20,0,T1,NaN,T512
1182565,2365153,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1414.89,1424.15,0,T1,NaN,T16
1182632,2365291,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1171.08,1210.92,0,T1,NaN,T2
1182867,2365761,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1328.01,1331.30,0,T1,NaN,T8
1182907,2365843,0,0,0,0,0,0,0,0,0,...,0,0,0,0,344.42,415.77,0,T1,NaN,T2
1182910,2365850,1,1,1,0,1,0,1,0,1,...,0,0,0,0,1633.56,1636.40,0,T1,NaN,T256
1182989,2365996,1,1,1,0,1,0,1,0,1,...,0,0,0,0,575.51,582.77,0,T1,NaN,T2
1183009,2366042,1,1,1,0,0,1,0,1,1,...,0,0,0,0,619.18,625.16,0,T1,NaN,T4
1183033,2366090,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1313.57,1316.63,0,T1,NaN,T8
1183056,2366132,1,1,0,1,0,1,0,1,1,...,0,0,0,0,1108.60,1110.10,0,T1,NaN,T128
1183142,2366297,0,0,0,0,0,0,0,0,0,...,0,0,0,0,980.33,995.60,0,T1,NaN,T8
1183144,2366301,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1261.90,1266.82,0,T1,NaN,T16
1183251,2366521,1,1,1,0,0,1,1,0,1,...,0,0,0,0,141.38,152.47,0,T1,NaN,T8
1183253,2366523,1,1,1,0,1,0,1,0,1,...,0,0,0,0,299.25,302.21,0,T1,NaN,T16
1183307,2366638,1,1,1,0,1,0,0,1,1,...,0,0,0,0,938.47,943.62,0,NaN,NaN,NaN
1183336,2366690,0,0,0,0,0,0,0,0,0,...,0,0,0,0,690.06,735.27,0,T1,NaN,T16
1183383,2366787,1,1,0,1,1,0,1,0,1,...,0,0,0,0,704.30,706.84,0,T1,NaN,T128
1183390,2366803,1,1,1,0,0,1,1,0,1,...,0,0,0,0,1400.09,1407.92,0,T1,NaN,T48
1183391,2366804,1,1,1,0,0,1,1,0,1,...,0,0,0,0,1158.41,1159.64,0,T1,NaN,T8
1183402,2366826,1,1,1,0,0,1,1,0,1,...,0,0,0,0,168.89,169.68,0,T1,NaN,T512
1183441,2366913,1,1,1,0,1,0,0,1,1,...,0,0,0,0,1675.02,1692.99,0,NaN,NaN,NaN
1183494,2367004,1,1,1,0,1,0,1,0,1,...,0,0,0,0,63.44,66.50,0,T1,NaN,T512
1183513,2367030,1,1,0,1,1,0,1,0,1,...,0,0,0,0,1107.54,1108.30,0,T1,NaN,T16
1183528,2367056,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1346.30,1359.75,0,T1,NaN,T256
1183589,2367176,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1581.40,1583.43,0,NaN,NaN,NaN
1183608,2367213,0,0,0,0,0,0,0,0,0,...,0,0,0,0,572.43,574.05,0,T1,NaN,T8
1183662,2367329,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1291.03,1294.64,0,T1,NaN,T-2147482816
1183668,2367347,1,1,1,0,1,0,0,1,1,...,0,0,0,0,937.38,942.25,0,T1,NaN,T2
1183700,2367403,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1445.83,1447.80,0,T1,NaN,T16
1183744,2367492,1,1,0,1,0,1,1,0,1,...,0,0,0,0,1482.18,1490.61,0,NaN,NaN,NaN

In [123]:
g = df_station32_pass[df_station32_pass['Response']==1].groupby('L3_S32_F3854')
g.count()

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S47_D4140,L3_S48_D4194,L3_S49_D4208,L3_S50_D4242,L3_S51_D4255,StartTime,EndTime,Response,L3_S32_F3851,L3_S32_F3853
L3_S32_F3854,,,,,,,,,,,,,,,,,,,,,
T-2147482432,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,0
T-2147482688,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
T-2147482816,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
T-2147483648,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
T1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
T128,31,31,31,31,31,31,31,31,31,31,...,31,31,31,31,31,31,31,31,31,0
T16,159,159,159,159,159,159,159,159,159,159,...,159,159,159,159,159,159,159,159,159,0
T2,667,667,667,667,667,667,667,667,667,667,...,667,667,667,667,667,667,667,667,667,0
T256,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,0
T4,156,156,156,156,156,156,156,156,156,156,...,156,156,156,156,156,156,156,156,156,0
T48,35,35,35,35,35,35,35,35,35,35,...,35,35,35,35,35,35,35,35,35,0
T512,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,0
T8,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,0

In [124]:
g = df_station32_pass[df_station32_pass['Response']==0].groupby('L3_S32_F3854')
g.count()

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S47_D4140,L3_S48_D4194,L3_S49_D4208,L3_S50_D4242,L3_S51_D4255,StartTime,EndTime,Response,L3_S32_F3851,L3_S32_F3853
L3_S32_F3854,,,,,,,,,,,,,,,,,,,,,
T-2147481664,34,34,34,34,34,34,34,34,34,34,...,34,34,34,34,34,34,34,34,34,0
T-21474819,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,0
T-2147482176,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
T-2147482432,371,371,371,371,371,371,371,371,371,371,...,371,371,371,371,371,371,371,371,371,1
T-21474825,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,0
T-2147482688,363,363,363,363,363,363,363,363,363,363,...,363,363,363,363,363,363,363,363,363,1
T-2147482816,383,383,383,383,383,383,383,383,383,383,...,383,383,383,383,383,383,383,383,383,0
T-2147482944,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
T-2147483648,627,627,627,627,627,627,627,627,627,627,...,627,627,627,627,627,627,627,627,627,0
T-21474872,115,115,115,115,115,115,115,115,115,115,...,115,115,115,115,115,115,115,115,115,0
T1,516,516,516,516,516,516,516,516,516,516,...,516,516,516,516,516,516,516,516,516,0
T1152,103,103,103,103,103,103,103,103,103,103,...,103,103,103,103,103,103,103,103,103,0
T128,4497,4497,4497,4497,4497,4497,4497,4497,4497,4497,...,4497,4497,4497,4497,4497,4497,4497,4497,4497,12
T1310,26,26,26,26,26,26,26,26,26,26,...,26,26,26,26,26,26,26,26,26,0
T16,3350,3350,3350,3350,3350,3350,3350,3350,3350,3350,...,3350,3350,3350,3350,3350,3350,3350,3350,3350,3
T16512,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,0
T2,3469,3469,3469,3469,3469,3469,3469,3469,3469,3469,...,3469,3469,3469,3469,3469,3469,3469,3469,3469,2
T24,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
T256,1243,1243,1243,1243,1243,1243,1243,1243,1243,1243,...,1243,1243,1243,1243,1243,1243,1243,1243,1243,15
T32,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,0
T32896,37,37,37,37,37,37,37,37,37,37,...,37,37,37,37,37,37,37,37,37,0
T36992,38,38,38,38,38,38,38,38,38,38,...,38,38,38,38,38,38,38,38,38,0
T4,516,516,516,516,516,516,516,516,516,516,...,516,516,516,516,516,516,516,516,516,1
T48,521,521,521,521,521,521,521,521,521,521,...,521,521,521,521,521,521,521,521,521,5
T492,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,0
T512,1470,1470,1470,1470,1470,1470,1470,1470,1470,1470,...,1470,1470,1470,1470,1470,1470,1470,1470,1470,1
T55424,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
T63616,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
T64,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
T65536,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,0
T8,2772,2772,2772,2772,2772,2772,2772,2772,2772,2772,...,2772,2772,2772,2772,2772,2772,2772,2772,2772,13

偏りがあるようなないような。ただ、L3_S32_F3854 は有効な feature にはなるかもしれない。

### station31編

In [125]:
df_station31_train = pd.read_csv("./train_categorical_station_31.csv")
df_station31_all = pd.merge(df_pass, df_time, on='Id', how='left')
df_station31_all = pd.merge(df_station31_all, df_station31_train, on = 'Id', how='left')
df_station31_pass = df_station31_all[df_station31_all['L3_S31_D3836'] ==1]
df_station31_pass

C:\Users\Tomonobu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1,2,3,4,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,EndTime,Response,L3_S31_F3835,L3_S31_F3837,L3_S31_F3839,L3_S31_F3841,L3_S31_F3843,L3_S31_F3845,L3_S31_F3847,L3_S31_F3849
0,4,1,1,1,0,1,0,0,1,1,...,87.29,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,31,1,1,1,0,1,0,1,0,1,...,99.67,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,76,0,0,0,0,0,0,0,0,0,...,120.66,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,78,1,1,0,1,0,1,0,1,1,...,146.15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,106,1,1,1,0,0,1,1,0,1,...,65.73,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,115,1,1,0,1,1,0,1,0,1,...,87.18,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,124,0,0,0,0,0,0,0,0,0,...,89.91,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,135,1,1,0,1,1,0,1,0,1,...,140.03,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,152,1,1,1,0,1,0,0,1,1,...,99.16,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,153,1,1,1,0,1,0,0,1,1,...,99.16,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,191,0,0,0,0,0,0,0,0,0,...,120.99,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,226,1,1,0,1,1,0,0,1,1,...,171.96,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,364,0,0,0,0,0,0,0,0,0,...,174.76,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,366,1,1,1,0,1,0,0,1,1,...,118.49,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,409,1,1,1,0,1,0,1,0,1,...,148.18,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,560,0,0,0,0,0,0,0,0,0,...,101.83,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,589,0,0,0,0,0,0,0,0,0,...,135.86,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,609,1,1,1,0,1,0,0,1,1,...,66.49,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,760,0,0,0,0,0,0,0,0,0,...,133.15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,761,0,0,0,0,0,0,0,0,0,...,133.15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,775,1,1,0,1,0,1,0,1,1,...,146.08,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,780,1,1,1,0,1,0,1,0,1,...,106.57,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,818,1,1,0,1,1,0,0,1,1,...,116.67,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,941,1,1,0,1,1,0,0,1,1,...,116.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,996,1,1,1,0,1,0,1,0,1,...,66.78,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
520,1019,0,0,0,0,0,0,0,0,0,...,130.99,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,1055,1,1,0,1,0,1,1,0,1,...,114.20,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,1070,1,1,1,0,0,1,1,0,1,...,116.43,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,1190,1,1,1,0,1,0,0,1,1,...,99.26,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
701,1388,1,1,1,0,1,0,0,1,1,...,145.94,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2366922,2366342,0,0,0,0,0,0,0,0,0,...,174.79,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2366932,2366366,1,1,0,1,1,0,1,0,1,...,118.64,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2366944,2366387,1,1,1,0,1,0,1,0,1,...,133.87,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2366966,2366422,1,1,1,0,1,0,0,1,1,...,140.25,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2366973,2366434,1,1,0,1,0,1,1,0,1,...,79.33,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2366987,2366466,1,1,0,1,0,1,0,1,1,...,99.50,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367003,2366494,1,1,0,1,0,1,0,1,1,...,102.20,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367107,2366708,1,1,0,1,0,1,1,0,1,...,107.22,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367114,2366717,1,1,1,0,0,1,1,0,1,...,115.99,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367117,2366721,0,0,0,0,0,0,0,0,0,...,138.37,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367120,2366728,1,1,0,1,0,1,1,0,1,...,173.92,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367148,2366784,0,0,0,0,0,0,0,0,0,...,80.58,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367149,2366786,1,1,1,0,1,0,1,0,1,...,148.06,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367152,2366792,0,0,0,0,0,0,0,0,0,...,130.81,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367180,2366843,0,0,0,0,0,0,0,0,0,...,137.51,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367214,2366907,1,1,1,0,0,1,1,0,1,...,89.65,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367216,2366909,1,1,1,0,1,0,1,0,1,...,99.68,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367226,2366933,0,0,0,0,0,0,0,0,0,...,113.90,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367275,2367062,1,1,1,0,1,0,0,1,1,...,86.88,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367285,2367082,0,0,0,0,0,0,0,0,0,...,135.91,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367303,2367112,1,1,1,0,1,0,1,0,1,...,66.46,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367323,2367160,1,1,0,1,0,1,1,0,1,...,146.03,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367341,2367189,1,1,0,1,1,0,1,0,1,...,99.16,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367345,2367202,1,1,0,1,1,0,0,1,1,...,145.93,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367394,2367293,1,1,0,1,0,1,1,0,1,...,118.49,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367410,2367325,0,0,0,0,0,0,0,0,0,...,90.47,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367418,2367337,1,1,0,1,0,1,0,1,1,...,107.20,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367430,2367360,1,1,1,0,0,1,0,1,1,...,97.57,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367451,2367407,0,0,0,0,0,0,0,0,0,...,89.83,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367458,2367420,0,0,0,0,0,0,0,0,0,...,104.50,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
df_station31_valid = df_station31_pass.dropna(subset=['L3_S31_F3849'])
df_station31_valid

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,EndTime,Response,L3_S31_F3835,L3_S31_F3837,L3_S31_F3839,L3_S31_F3841,L3_S31_F3843,L3_S31_F3845,L3_S31_F3847,L3_S31_F3849
34112,68412,1,1,1,0,0,1,0,1,1,...,118.66,0,T1,T128,T1,T128,T1,T128,T1,T128
411772,824035,1,1,0,1,0,1,0,1,1,...,97.82,0,T1,T128,T1,T128,T1,T128,T1,T128
540001,1080678,1,1,0,1,1,0,0,1,1,...,171.80,0,T1,T128,T1,T128,T1,T128,T1,T128
732909,1466068,0,0,0,0,0,0,0,0,0,...,130.91,0,T1,T128,T1,T128,T1,T128,T1,T128
1026421,2053110,1,1,0,1,1,0,0,1,1,...,118.62,0,T1,T128,T1,T128,T1,T128,T1,T128
1078115,2156582,1,1,1,0,0,1,0,1,1,...,28.89,0,T1,T128,T1,T128,T1,T128,T1,T128
1113328,2226927,1,1,0,1,0,1,1,0,1,...,118.63,0,T1,T128,T1,T128,T1,T128,T1,T128

有効な特徴がはいっているものが7つしかない。
有効なものには同じ値になっていて、使えない。

### station 46編

In [137]:
df_station46_train = pd.read_csv("./train_categorical_station_46.csv")
df_station46_all = pd.merge(df_pass, df_time, on='Id', how='left')
df_station46_all = pd.merge(df_station46_all, df_station46_train, on = 'Id', how='left')
df_station46_pass = df_station46_all[df_station46_all['L3_S46_D4135'] ==1]
df_station46_pass

C:\Users\Tomonobu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S48_D4194,L3_S49_D4208,L3_S50_D4242,L3_S51_D4255,StartTime,EndTime,Response,L3_S46_F4134,L3_S46_F4136,L3_S46_F4137
1171451,2342862,1,1,1,0,1,0,1,0,1,...,1,1,0,1,566.34,570.44,0,T3,NaN,NaN

In [140]:
df_station46_1 = df_station46_all.dropna(subset=['L3_S46_F4134'])
df_station46_1

,Id,L0_S0_D1,L0_S1_D26,L0_S2_D34,L0_S3_D70,L0_S4_D106,L0_S5_D115,L0_S6_D120,L0_S7_D137,L0_S8_D145,...,L3_S48_D4194,L3_S49_D4208,L3_S50_D4242,L3_S51_D4255,StartTime,EndTime,Response,L3_S46_F4134,L3_S46_F4136,L3_S46_F4137
1171451,2342862,1,1,1,0,1,0,1,0,1,...,1,1,0,1,566.34,570.44,0,T3,NaN,NaN

In [141]:
df_station46_2 = df_station46_all.dropna(subset=['L3_S46_F4136'])
df_station46_2

Empty DataFrame
Columns: [Id, L0_S0_D1, L0_S1_D26, L0_S2_D34, L0_S3_D70, L0_S4_D106, L0_S5_D115, L0_S6_D120, L0_S7_D137, L0_S8_D145, L0_S9_D152, L0_S10_D216, L0_S11_D280, L0_S12_D331, L0_S13_D355, L0_S14_D360, L0_S15_D395, L0_S16_D423, L0_S17_D432, L0_S18_D437, L0_S19_D454, L0_S20_D462, L0_S21_D469, L0_S22_D543, L0_S23_D617, L1_S24_D677, L1_S25_D1854, L2_S26_D3037, L2_S27_D3130, L2_S28_D3223, L3_S29_D3316, L3_S30_D3496, L3_S31_D3836, L3_S32_D3852, L3_S33_D3856, L3_S34_D3875, L3_S35_D3886, L3_S36_D3919, L3_S37_D3942, L3_S38_D3953, L3_S39_D3966, L3_S40_D3981, L3_S41_D3997, L3_S42_D4029, L3_S43_D4062, L3_S44_D4101, L3_S45_D4125, L3_S46_D4135, L3_S47_D4140, L3_S48_D4194, L3_S49_D4208, L3_S50_D4242, L3_S51_D4255, StartTime, EndTime, Response, L3_S46_F4134, L3_S46_F4136, L3_S46_F4137]
Index: []

[0 rows x 59 columns]

In [142]:
df_station46_3 = df_station46_all.dropna(subset=['L3_S46_F4137'])
df_station46_3

Empty DataFrame
Columns: [Id, L0_S0_D1, L0_S1_D26, L0_S2_D34, L0_S3_D70, L0_S4_D106, L0_S5_D115, L0_S6_D120, L0_S7_D137, L0_S8_D145, L0_S9_D152, L0_S10_D216, L0_S11_D280, L0_S12_D331, L0_S13_D355, L0_S14_D360, L0_S15_D395, L0_S16_D423, L0_S17_D432, L0_S18_D437, L0_S19_D454, L0_S20_D462, L0_S21_D469, L0_S22_D543, L0_S23_D617, L1_S24_D677, L1_S25_D1854, L2_S26_D3037, L2_S27_D3130, L2_S28_D3223, L3_S29_D3316, L3_S30_D3496, L3_S31_D3836, L3_S32_D3852, L3_S33_D3856, L3_S34_D3875, L3_S35_D3886, L3_S36_D3919, L3_S37_D3942, L3_S38_D3953, L3_S39_D3966, L3_S40_D3981, L3_S41_D3997, L3_S42_D4029, L3_S43_D4062, L3_S44_D4101, L3_S45_D4125, L3_S46_D4135, L3_S47_D4140, L3_S48_D4194, L3_S49_D4208, L3_S50_D4242, L3_S51_D4255, StartTime, EndTime, Response, L3_S46_F4134, L3_S46_F4136, L3_S46_F4137]
Index: []

[0 rows x 59 columns]

station46 の categorical data は、1行を除いてすべて Nan

In [112]:
df_pass.columns

Index(['Id', 'L0_S0_D1', 'L0_S1_D26', 'L0_S2_D34', 'L0_S3_D70', 'L0_S4_D106',
       'L0_S5_D115', 'L0_S6_D120', 'L0_S7_D137', 'L0_S8_D145', 'L0_S9_D152',
       'L0_S10_D216', 'L0_S11_D280', 'L0_S12_D331', 'L0_S13_D355',
       'L0_S14_D360', 'L0_S15_D395', 'L0_S16_D423', 'L0_S17_D432',
       'L0_S18_D437', 'L0_S19_D454', 'L0_S20_D462', 'L0_S21_D469',
       'L0_S22_D543', 'L0_S23_D617', 'L1_S24_D677', 'L1_S25_D1854',
       'L2_S26_D3037', 'L2_S27_D3130', 'L2_S28_D3223', 'L3_S29_D3316',
       'L3_S30_D3496', 'L3_S31_D3836', 'L3_S32_D3852', 'L3_S33_D3856',
       'L3_S34_D3875', 'L3_S35_D3886', 'L3_S36_D3919', 'L3_S37_D3942',
       'L3_S38_D3953', 'L3_S39_D3966', 'L3_S40_D3981', 'L3_S41_D3997',
       'L3_S42_D4029', 'L3_S43_D4062', 'L3_S44_D4101', 'L3_S45_D4125',
       'L3_S46_D4135', 'L3_S47_D4140', 'L3_S48_D4194', 'L3_S49_D4208',
       'L3_S50_D4242', 'L3_S51_D4255'],
      dtype='object')

In [30]:
df_cat_train = pd.read_csv(TEST_CATEGORICAL,  
                            usecols=use_cat_columns, nrows=NROWS)
df_cat_test  = pd.read_csv(TEST_CATEGORICAL,  
                            usecols=use_cat_columns, nrows=NROWS)

C:\Users\Tomonobu\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
df_num_train = pd.read_csv(TEST_NUMERIC,  
                            usecols=use_num_columns, nrows=NROWS)
df_num_test  = pd.read_csv(TEST_NUMERIC,  
                            usecols=use_num_columns, nrows=NROWS)

In [29]:
use_station_list = [29, 30, 31, 33]

use_cat_columns = ['Id']
use_num_columns = ['Id']

for i in range(STATION_NUM):
    if i in use_station_list:
        use_cat_columns += cat_feature_list[i]
        use_num_columns += num_feature_list[i]

print(use_cat_columns)
print(use_num_columns)
print(len(use_cat_columns))
print(len(use_num_columns))

['Id', 'L3_S29_F3317', 'L3_S29_F3320', 'L3_S29_F3323', 'L3_S29_F3326', 'L3_S29_F3329', 'L3_S29_F3332', 'L3_S29_F3335', 'L3_S29_F3338', 'L3_S29_F3341', 'L3_S29_F3344', 'L3_S29_F3347', 'L3_S29_F3350', 'L3_S29_F3353', 'L3_S29_F3356', 'L3_S29_F3359', 'L3_S29_F3362', 'L3_S29_F3364', 'L3_S29_F3366', 'L3_S29_F3369', 'L3_S29_F3372', 'L3_S29_F3375', 'L3_S29_F3378', 'L3_S29_F3381', 'L3_S29_F3384', 'L3_S29_F3387', 'L3_S29_F3390', 'L3_S29_F3392', 'L3_S29_F3394', 'L3_S29_F3397', 'L3_S29_F3400', 'L3_S29_F3403', 'L3_S29_F3406', 'L3_S29_F3409', 'L3_S29_F3411', 'L3_S29_F3414', 'L3_S29_F3416', 'L3_S29_F3418', 'L3_S29_F3420', 'L3_S29_F3423', 'L3_S29_F3426', 'L3_S29_F3429', 'L3_S29_F3432', 'L3_S29_F3435', 'L3_S29_F3438', 'L3_S29_F3441', 'L3_S29_F3444', 'L3_S29_F3446', 'L3_S29_F3448', 'L3_S29_F3451', 'L3_S29_F3454', 'L3_S29_F3457', 'L3_S29_F3460', 'L3_S29_F3463', 'L3_S29_F3466', 'L3_S29_F3469', 'L3_S29_F3472', 'L3_S29_F3475', 'L3_S29_F3478', 'L3_S29_F3481', 'L3_S29_F3484', 'L3_S29_F3487', 'L3_S29_F3490', 'L3_S29_F3493', 'L3_S30_F3495', 'L3_S30_F3497', 'L3_S30_F3498', 'L3_S30_F3500', 'L3_S30_F3502', 'L3_S30_F3503', 'L3_S30_F3505', 'L3_S30_F3507', 'L3_S30_F3508', 'L3_S30_F3510', 'L3_S30_F3512', 'L3_S30_F3513', 'L3_S30_F3515', 'L3_S30_F3517', 'L3_S30_F3518', 'L3_S30_F3520', 'L3_S30_F3522', 'L3_S30_F3523', 'L3_S30_F3525', 'L3_S30_F3527', 'L3_S30_F3528', 'L3_S30_F3530', 'L3_S30_F3532', 'L3_S30_F3533', 'L3_S30_F3535', 'L3_S30_F3537', 'L3_S30_F3538', 'L3_S30_F3540', 'L3_S30_F3542', 'L3_S30_F3543', 'L3_S30_F3545', 'L3_S30_F3547', 'L3_S30_F3548', 'L3_S30_F3550', 'L3_S30_F3552', 'L3_S30_F3553', 'L3_S30_F3555', 'L3_S30_F3557', 'L3_S30_F3558', 'L3_S30_F3560', 'L3_S30_F3562', 'L3_S30_F3563', 'L3_S30_F3565', 'L3_S30_F3567', 'L3_S30_F3568', 'L3_S30_F3570', 'L3_S30_F3572', 'L3_S30_F3573', 'L3_S30_F3575', 'L3_S30_F3577', 'L3_S30_F3578', 'L3_S30_F3580', 'L3_S30_F3582', 'L3_S30_F3583', 'L3_S30_F3585', 'L3_S30_F3587', 'L3_S30_F3588', 'L3_S30_F3590', 'L3_S30_F3592', 'L3_S30_F3593', 'L3_S30_F3595', 'L3_S30_F3597', 'L3_S30_F3598', 'L3_S30_F3600', 'L3_S30_F3602', 'L3_S30_F3603', 'L3_S30_F3605', 'L3_S30_F3607', 'L3_S30_F3608', 'L3_S30_F3610', 'L3_S30_F3612', 'L3_S30_F3613', 'L3_S30_F3615', 'L3_S30_F3617', 'L3_S30_F3618', 'L3_S30_F3620', 'L3_S30_F3622', 'L3_S30_F3623', 'L3_S30_F3625', 'L3_S30_F3627', 'L3_S30_F3628', 'L3_S30_F3630', 'L3_S30_F3632', 'L3_S30_F3633', 'L3_S30_F3635', 'L3_S30_F3637', 'L3_S30_F3638', 'L3_S30_F3640', 'L3_S30_F3642', 'L3_S30_F3643', 'L3_S30_F3645', 'L3_S30_F3647', 'L3_S30_F3648', 'L3_S30_F3650', 'L3_S30_F3652', 'L3_S30_F3653', 'L3_S30_F3655', 'L3_S30_F3657', 'L3_S30_F3658', 'L3_S30_F3660', 'L3_S30_F3662', 'L3_S30_F3663', 'L3_S30_F3665', 'L3_S30_F3667', 'L3_S30_F3668', 'L3_S30_F3670', 'L3_S30_F3672', 'L3_S30_F3673', 'L3_S30_F3675', 'L3_S30_F3677', 'L3_S30_F3678', 'L3_S30_F3680', 'L3_S30_F3682', 'L3_S30_F3683', 'L3_S30_F3685', 'L3_S30_F3687', 'L3_S30_F3688', 'L3_S30_F3690', 'L3_S30_F3692', 'L3_S30_F3693', 'L3_S30_F3695', 'L3_S30_F3697', 'L3_S30_F3698', 'L3_S30_F3700', 'L3_S30_F3702', 'L3_S30_F3703', 'L3_S30_F3705', 'L3_S30_F3707', 'L3_S30_F3708', 'L3_S30_F3710', 'L3_S30_F3712', 'L3_S30_F3713', 'L3_S30_F3715', 'L3_S30_F3717', 'L3_S30_F3718', 'L3_S30_F3720', 'L3_S30_F3722', 'L3_S30_F3723', 'L3_S30_F3725', 'L3_S30_F3727', 'L3_S30_F3728', 'L3_S30_F3730', 'L3_S30_F3732', 'L3_S30_F3733', 'L3_S30_F3735', 'L3_S30_F3737', 'L3_S30_F3738', 'L3_S30_F3740', 'L3_S30_F3742', 'L3_S30_F3743', 'L3_S30_F3745', 'L3_S30_F3747', 'L3_S30_F3748', 'L3_S30_F3750', 'L3_S30_F3752', 'L3_S30_F3753', 'L3_S30_F3755', 'L3_S30_F3757', 'L3_S30_F3758', 'L3_S30_F3760', 'L3_S30_F3762', 'L3_S30_F3763', 'L3_S30_F3765', 'L3_S30_F3767', 'L3_S30_F3768', 'L3_S30_F3770', 'L3_S30_F3772', 'L3_S30_F3773', 'L3_S30_F3775', 'L3_S30_F3777', 'L3_S30_F3778', 'L3_S30_F3780', 'L3_S30_F3782', 'L3_S30_F3783', 'L3_S30_F3785', 'L3_S30_F3787', 'L3_S30_F3788', 'L3_S30_F3790', 'L3_S30_F3792', 'L3_S30_F3793', 'L3_S30_F3795', 'L3_S30_F3797', 'L3_S30_F3798', 'L3_S30_F3800', 'L3_S30_F3802', 'L3_S30_F3803', 'L3_S30_F3805', 'L3_S30_F3807', 'L3_S30_F3808', 'L3_S30_F3810', 'L3_S30_F3812', 'L3_S30_F3813', 'L3_S30_F3815', 'L3_S30_F3817', 'L3_S30_F3818', 'L3_S30_F3820', 'L3_S30_F3822', 'L3_S30_F3823', 'L3_S30_F3825', 'L3_S30_F3827', 'L3_S30_F3828', 'L3_S30_F3830', 'L3_S30_F3832', 'L3_S30_F3833', 'L3_S31_F3835', 'L3_S31_F3837', 'L3_S31_F3839', 'L3_S31_F3841', 'L3_S31_F3843', 'L3_S31_F3845', 'L3_S31_F3847', 'L3_S31_F3849']
['Id', 'L3_S29_F3315', 'L3_S29_F3318', 'L3_S29_F3321', 'L3_S29_F3324', 'L3_S29_F3327', 'L3_S29_F3330', 'L3_S29_F3333', 'L3_S29_F3336', 'L3_S29_F3339', 'L3_S29_F3342', 'L3_S29_F3345', 'L3_S29_F3348', 'L3_S29_F3351', 'L3_S29_F3354', 'L3_S29_F3357', 'L3_S29_F3360', 'L3_S29_F3367', 'L3_S29_F3370', 'L3_S29_F3373', 'L3_S29_F3376', 'L3_S29_F3379', 'L3_S29_F3382', 'L3_S29_F3385', 'L3_S29_F3388', 'L3_S29_F3395', 'L3_S29_F3398', 'L3_S29_F3401', 'L3_S29_F3404', 'L3_S29_F3407', 'L3_S29_F3412', 'L3_S29_F3421', 'L3_S29_F3424', 'L3_S29_F3427', 'L3_S29_F3430', 'L3_S29_F3433', 'L3_S29_F3436', 'L3_S29_F3439', 'L3_S29_F3442', 'L3_S29_F3449', 'L3_S29_F3452', 'L3_S29_F3455', 'L3_S29_F3458', 'L3_S29_F3461', 'L3_S29_F3464', 'L3_S29_F3467', 'L3_S29_F3470', 'L3_S29_F3473', 'L3_S29_F3476', 'L3_S29_F3479', 'L3_S29_F3482', 'L3_S29_F3485', 'L3_S29_F3488', 'L3_S29_F3491', 'L3_S30_F3494', 'L3_S30_F3499', 'L3_S30_F3504', 'L3_S30_F3509', 'L3_S30_F3514', 'L3_S30_F3519', 'L3_S30_F3524', 'L3_S30_F3529', 'L3_S30_F3534', 'L3_S30_F3539', 'L3_S30_F3544', 'L3_S30_F3549', 'L3_S30_F3554', 'L3_S30_F3559', 'L3_S30_F3564', 'L3_S30_F3569', 'L3_S30_F3574', 'L3_S30_F3579', 'L3_S30_F3584', 'L3_S30_F3589', 'L3_S30_F3594', 'L3_S30_F3599', 'L3_S30_F3604', 'L3_S30_F3609', 'L3_S30_F3614', 'L3_S30_F3619', 'L3_S30_F3624', 'L3_S30_F3629', 'L3_S30_F3634', 'L3_S30_F3639', 'L3_S30_F3644', 'L3_S30_F3649', 'L3_S30_F3654', 'L3_S30_F3659', 'L3_S30_F3664', 'L3_S30_F3669', 'L3_S30_F3674', 'L3_S30_F3679', 'L3_S30_F3684', 'L3_S30_F3689', 'L3_S30_F3694', 'L3_S30_F3699', 'L3_S30_F3704', 'L3_S30_F3709', 'L3_S30_F3714', 'L3_S30_F3719', 'L3_S30_F3724', 'L3_S30_F3729', 'L3_S30_F3734', 'L3_S30_F3739', 'L3_S30_F3744', 'L3_S30_F3749', 'L3_S30_F3754', 'L3_S30_F3759', 'L3_S30_F3764', 'L3_S30_F3769', 'L3_S30_F3774', 'L3_S30_F3779', 'L3_S30_F3784', 'L3_S30_F3789', 'L3_S30_F3794', 'L3_S30_F3799', 'L3_S30_F3804', 'L3_S30_F3809', 'L3_S30_F3814', 'L3_S30_F3819', 'L3_S30_F3824', 'L3_S30_F3829', 'L3_S31_F3834', 'L3_S31_F3838', 'L3_S31_F3842', 'L3_S31_F3846', 'L3_S33_F3855', 'L3_S33_F3857', 'L3_S33_F3859', 'L3_S33_F3861', 'L3_S33_F3863', 'L3_S33_F3865', 'L3_S33_F3867', 'L3_S33_F3869', 'L3_S33_F3871', 'L3_S33_F3873']
276
136

In [34]:
df_start_test.head()
df_start = pd.concat([df_start_train, df_start_test])
df_start.head()

   Id  StartTime  EndTime  Response
0   4      82.24    87.29         0
1   6    1313.12  1315.75         0
2   7    1618.70  1624.42         0
3   9    1149.20  1154.16         0
4  11     602.64   606.02         0

In [35]:
df_all = pd.merge(df_start, df_pass, on='Id',  how='left')
df_all = df_all.fillna(-1500)

In [36]:
df_all = pd.merge(df_all, df_num_train, on='Id', how='left')
df_all = pd.merge(df_all, df_num_test,  on='Id', how='left')

In [38]:
df_all = df_all.fillna(-1500)
df_all.head

<bound method NDFrame.head of               Id  StartTime  EndTime  Response  L0_S0_D1  L0_S1_D26  \
0              4      82.24    87.29         0         1          1
1              6    1313.12  1315.75         0         0          0
2              7    1618.70  1624.42         0         1          1
3              9    1149.20  1154.16         0         1          1
4             11     602.64   606.02         0         1          1
5             13    1331.66  1339.73         0         1          1
6             14    1662.63  1664.04         0         0          0
7             16     791.22   804.36         0         0          0
8             18     517.64   518.08         0         1          1
9             23     156.27   157.89         0         0          0
10            26    1104.78  1105.95         0         1          1
11            27     392.85   401.41         0         1          1
12            28      55.44    62.10         0         1          1
13            31      98.99    99.67         0         1          1
14            34     354.51   365.38         0         1          1
15            38    1633.80  1636.37         0         1          1
16            41     476.06   476.57         0         0          0
17            44    1532.42  1542.00         0         1          1
18            47     263.21   263.44         0         0          0
19            49     675.84   677.68         0         1          1
20            52     966.77   991.61         0         0          0
21            55    1341.05  1346.19         0         0          0
22            56     886.18   890.10         0         1          1
23            57     609.56   611.48         0         1          1
24            63     656.22   668.04         0         0          0
25            68    1450.09  1450.84         0         1          1
26            70     187.57   188.97         0         1          1
27            71    1458.06  1460.32         0         1          1
28            72    1293.17  1297.48         0         0          0
29            73     319.66   321.29         0         0          0
...          ...        ...      ...       ...       ...        ...
2367465  2367436    1567.97  1574.73        -1         1          1
2367466  2367438     324.72   333.65        -1         1          1
2367467  2367441    1341.05  1346.22        -1         0          0
2367468  2367445    1214.45  1216.07        -1         1          1
2367469  2367446     520.59   522.39        -1         1          1
2367470  2367447    1174.75  1189.65        -1         0          0
2367471  2367448     320.60   322.32        -1         1          1
2367472  2367449     553.66   555.14        -1         0          0
2367473  2367450    1379.68  1399.93        -1         0          0
2367474  2367451    1394.35  1395.74        -1         0          0
2367475  2367453     707.04   745.26        -1         0          0
2367476  2367454    1568.88  1575.65        -1         1          1
2367477  2367455     877.10   886.20        -1         1          1
2367478  2367456    1272.59  1290.23        -1         1          1
2367479  2367457    1272.59  1290.23        -1         1          1
2367480  2367463     986.13  1021.64        -1         0          0
2367481  2367465     606.18   609.73        -1         0          0
2367482  2367467     606.18   619.99        -1         0          0
2367483  2367468    1328.77  1333.50        -1         0          0
2367484  2367470     364.71   366.99        -1         1          1
2367485  2367475     896.98   904.17        -1         1          1
2367486  2367477     571.03   572.81        -1         1          1
2367487  2367479     825.92   829.38        -1         1          1
2367488  2367481     991.81  1007.50        -1         0          0
2367489  2367482     230.53   231.98        -1         1          1
2367490  2367483     653.85   655.45        -1         1          1
2367491  2367485     907.34   911.29        -1         1          1
2367492  2367486     185.92   186.32        -1         1          1
2367493  2367489     570.85   572.67        -1         1          1
2367494  2367494    1412.80  1413.18        -1         1          1

         L0_S2_D34  L0_S3_D70  L0_S4_D106  L0_S5_D115       ...        \
0                1          0           1           0       ...
1                0          0           0           0       ...
2                1          0           0           1       ...
3                1          0           1           0       ...
4                0          1           1           0       ...
5                0          1           1           0       ...
6                0          0           0           0       ...
7                0          0           0           0       ...
8                1          0           1           0       ...
9                0          0           0           0       ...
10               1          0           1           0       ...
11               0          1           0           1       ...
12               0          1           1           0       ...
13               1          0           1           0       ...
14               1          0           0           1       ...
15               1          0           1           0       ...
16               0          0           0           0       ...
17               1          0           0           1       ...
18               0          0           0           0       ...
19               0          1           1           0       ...
20               0          0           0           0       ...
21               0          0           0           0       ...
22               1          0           1           0       ...
23               1          0           0           1       ...
24               0          0           0           0       ...
25               0          1           0           1       ...
26               1          0           0           1       ...
27               0          1           1           0       ...
28               0          0           0           0       ...
29               0          0           0           0       ...
...            ...        ...         ...         ...       ...
2367465          0          1           1           0       ...
2367466          1          0           0           1       ...
2367467          0          0           0           0       ...
2367468          0          1           1           0       ...
2367469          1          0           0           1       ...
2367470          0          0           0           0       ...
2367471          1          0           0           1       ...
2367472          0          0           0           0       ...
2367473          0          0           0           0       ...
2367474          0          0           0           0       ...
2367475          0          0           0           0       ...
2367476          0          1           1           0       ...
2367477          1          0           1           0       ...
2367478          0          1           1           0       ...
2367479          0          1           1           0       ...
2367480          0          0           0           0       ...
2367481          0          0           0           0       ...
2367482          0          0           0           0       ...
2367483          0          0           0           0       ...
2367484          0          1           1           0       ...
2367485          0          1           0           1       ...
2367486          1          0           0           1       ...
2367487          0          1           1           0       ...
2367488          0          0           0           0       ...
2367489          0          1           0           1       ...
2367490          1          0           1           0       ...
2367491          0          1           0           1       ...
2367492          1          0           1           0       ...
2367493          1          0           0           1       ...
2367494          0          1           0           1       ...

         L3_S33_F3855_y  L3_S33_F3857_y  L3_S33_F3859_y  L3_S33_F3861_y  \
0             -1500.000       -1500.000       -1500.000       -1500.000
1             -1500.000       -1500.000       -1500.000       -1500.000
2             -1500.000       -1500.000       -1500.000       -1500.000
3             -1500.000       -1500.000       -1500.000       -1500.000
4             -1500.000       -1500.000       -1500.000       -1500.000
5             -1500.000       -1500.000       -1500.000       -1500.000
6             -1500.000       -1500.000       -1500.000       -1500.000
7             -1500.000       -1500.000       -1500.000       -1500.000
8             -1500.000       -1500.000       -1500.000       -1500.000
9             -1500.000       -1500.000       -1500.000       -1500.000
10            -1500.000       -1500.000       -1500.000       -1500.000
11            -1500.000       -1500.000       -1500.000       -1500.000
12            -1500.000       -1500.000       -1500.000       -1500.000
13            -1500.000       -1500.000       -1500.000       -1500.000
14            -1500.000       -1500.000       -1500.000       -1500.000
15            -1500.000       -1500.000       -1500.000       -1500.000
16            -1500.000       -1500.000       -1500.000       -1500.000
17            -1500.000       -1500.000       -1500.000       -1500.000
18            -1500.000       -1500.000       -1500.000       -1500.000
19            -1500.000       -1500.000       -1500.000       -1500.000
20            -1500.000       -1500.000       -1500.000       -1500.000
21            -1500.000       -1500.000       -1500.000       -1500.000
22            -1500.000       -1500.000       -1500.000       -1500.000
23            -1500.000       -1500.000       -1500.000       -1500.000
24            -1500.000       -1500.000       -1500.000       -1500.000
25            -1500.000       -1500.000       -1500.000       -1500.000
26            -1500.000       -1500.000       -1500.000       -1500.000
27            -1500.000       -1500.000       -1500.000       -1500.000
28            -1500.000       -1500.000       -1500.000       -1500.000
29            -1500.000       -1500.000       -1500.000       -1500.000
...                 ...             ...             ...             ...
2367465           0.017           0.005          -0.021           0.017
2367466           0.153           0.153           0.102           0.153
2367467           0.062           0.052           0.063           0.062
2367468          -0.210          -0.176           0.177          -0.210
2367469           0.017           0.025           0.108           0.017
2367470          -0.074          -0.055           0.031          -0.074
2367471           0.017           0.031          -0.021           0.017
2367472          -0.165          -0.169          -0.117          -0.165
2367473          -0.165          -0.147          -0.001          -0.165
2367474           0.153           0.118          -0.001           0.153
2367475          -0.165          -0.150          -0.067          -0.165
2367476          -0.165          -0.158          -0.173          -0.165
2367477          -0.074          -0.075           0.099          -0.074
2367478           0.108           0.073          -0.287           0.108
2367479           0.108           0.073          -0.287           0.108
2367480           0.017           0.009          -0.123           0.017
2367481          -0.119          -0.116          -0.280          -0.119
2367482          -0.119          -0.116          -0.280          -0.119
2367483          -0.119          -0.104           0.074          -0.119
2367484          -0.029          -0.034          -0.044          -0.029
2367485          -0.074          -0.049           0.240          -0.074
2367486          -0.074          -0.060          -0.067          -0.074
2367487          -0.119          -0.115          -0.280          -0.119
2367488          -0.074          -0.050           0.220          -0.074
2367489           0.108           0.113           0.170           0.108
2367490          -0.074          -0.062           0.102          -0.074
2367491           0.017           0.008          -0.139           0.017
2367492           0.017           0.012          -0.014           0.017
2367493          -0.165          -0.152           0.033          -0.165
2367494           0.062           0.058          -0.151           0.062

         L3_S33_F3863_y  L3_S33_F3865_y  L3_S33_F3867_y  L3_S33_F3869_y  \
0             -1500.000       -1500.000         -1500.0         -1500.0
1             -1500.000       -1500.000         -1500.0         -1500.0
2             -1500.000       -1500.000         -1500.0         -1500.0
3             -1500.000       -1500.000         -1500.0         -1500.0
4             -1500.000       -1500.000         -1500.0         -1500.0
5             -1500.000       -1500.000         -1500.0         -1500.0
6             -1500.000       -1500.000         -1500.0         -1500.0
7             -1500.000       -1500.000         -1500.0         -1500.0
8             -1500.000       -1500.000         -1500.0         -1500.0
9             -1500.000       -1500.000         -1500.0         -1500.0
10            -1500.000       -1500.000         -1500.0         -1500.0
11            -1500.000       -1500.000         -1500.0         -1500.0
12            -1500.000       -1500.000         -1500.0         -1500.0
13            -1500.000       -1500.000         -1500.0         -1500.0
14            -1500.000       -1500.000         -1500.0         -1500.0
15            -1500.000       -1500.000         -1500.0         -1500.0
16            -1500.000       -1500.000         -1500.0         -1500.0
17            -1500.000       -1500.000         -1500.0         -1500.0
18            -1500.000       -1500.000         -1500.0         -1500.0
19            -1500.000       -1500.000         -1500.0         -1500.0
20            -1500.000       -1500.000         -1500.0         -1500.0
21            -1500.000       -1500.000         -1500.0         -1500.0
22            -1500.000       -1500.000         -1500.0         -1500.0
23            -1500.000       -1500.000         -1500.0         -1500.0
24            -1500.000       -1500.000         -1500.0         -1500.0
25            -1500.000       -1500.000         -1500.0         -1500.0
26            -1500.000       -1500.000         -1500.0         -1500.0
27            -1500.000       -1500.000         -1500.0         -1500.0
28            -1500.000       -1500.000         -1500.0         -1500.0
29            -1500.000       -1500.000         -1500.0         -1500.0
...                 ...             ...             ...             ...
2367465           0.017          -0.095             0.0             0.0
2367466           0.153           0.043             0.0             0.0
2367467           0.062           0.026             0.0             0.0
2367468          -0.210           0.043             0.0             0.0
2367469           0.017           0.165             0.0             0.0
2367470          -0.074           0.043             0.0             0.0
2367471           0.017           0.010             0.0             0.0
2367472          -0.165          -0.128             0.0             0.0
2367473          -0.165          -0.055             0.0             0.0
2367474           0.153          -0.014             0.0             0.0
2367475          -0.165           0.100             0.0             0.0
2367476          -0.165           0.067             0.0             0.0
2367477          -0.074          -0.022             0.0             0.0
2367478           0.108           0.108             0.0             0.0
2367479           0.108           0.108             0.0             0.0
2367480           0.017          -0.014             0.0             0.0
2367481          -0.119           0.075             0.0             0.0
2367482          -0.119           0.075             0.0             0.0
2367483          -0.119           0.108             0.0             0.0
2367484          -0.029           0.018             0.0             0.0
2367485          -0.074           0.140             0.0             0.0
2367486          -0.074           0.067             0.0             0.0
2367487          -0.119           0.083             0.0             0.0
2367488          -0.074           0.043             0.0             0.0
2367489           0.108           0.091             0.0             0.0
2367490          -0.074           0.075             0.0             0.0
2367491           0.017           0.010             0.0             0.0
2367492           0.017          -0.014             0.0             0.0
2367493          -0.165           0.075             0.0             0.0
2367494           0.062           0.026             0.0             0.0

         L3_S33_F3871_y  L3_S33_F3873_y
0               -1500.0         -1500.0
1               -1500.0         -1500.0
2               -1500.0         -1500.0
3               -1500.0         -1500.0
4               -1500.0         -1500.0
5               -1500.0         -1500.0
6               -1500.0         -1500.0
7               -1500.0         -1500.0
8               -1500.0         -1500.0
9               -1500.0         -1500.0
10              -1500.0         -1500.0
11              -1500.0         -1500.0
12              -1500.0         -1500.0
13              -1500.0         -1500.0
14              -1500.0         -1500.0
15              -1500.0         -1500.0
16              -1500.0         -1500.0
17              -1500.0         -1500.0
18              -1500.0         -1500.0
19              -1500.0         -1500.0
20              -1500.0         -1500.0
21              -1500.0         -1500.0
22              -1500.0         -1500.0
23              -1500.0         -1500.0
24              -1500.0         -1500.0
25              -1500.0         -1500.0
26              -1500.0         -1500.0
27              -1500.0         -1500.0
28              -1500.0         -1500.0
29              -1500.0         -1500.0
...                 ...             ...
2367465             0.0             0.0
2367466             0.0             0.0
2367467             0.0             0.0
2367468             0.0             0.0
2367469             0.0             0.0
2367470             0.0             0.0
2367471             0.0             0.0
2367472             0.0             0.0
2367473             0.0             0.0
2367474             0.0             0.0
2367475             0.0             0.0
2367476             0.0             0.0
2367477             0.0             0.0
2367478             0.0             0.0
2367479             0.0             0.0
2367480             0.0             0.0
2367481             0.0             0.0
2367482             0.0             0.0
2367483             0.0             0.0
2367484             0.0             0.0
2367485             0.0             0.0
2367486             0.0             0.0
2367487             0.0             0.0
2367488             0.0             0.0
2367489             0.0             0.0
2367490             0.0             0.0
2367491             0.0             0.0
2367492             0.0             0.0
2367493             0.0             0.0
2367494             0.0             0.0

[2367495 rows x 326 columns]>

In [39]:
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, log_loss, make_scorer

def calc_mcc(cf_mat):
    tn, fp, fn, tp = cf_mat.ravel()
    print(tn, fp, fn, tp)
    mcc = (tp * tn - fp * fn) / np.sqrt((tp + fp) * (tp + fn) * (tn + fp) * (tn + fn))
    return mcc

def mcc_scorer(y_true, y_pred):
    cf_mat = confusion_matrix(y_true, y_pred)
    return calc_mcc(cf_mat)

def separate_X_y(df):
    X = df.drop(['Response'], axis=1)
    y = df['Response']
    return X, y

def train_with_r_forest(df):
    X_train, y_train = separate_X_y(df)

    cl_weight = {0:0.3, 1:0.7}
    
    # Grid Search
    params={'max_depth': [25],
            'subsample': [0.95],
            'colsample_bytree': [1.0],
            'scale_pos_weight': [2]
    }

    xgb_model = xgb.XGBClassifier()
    gs = GridSearchCV(xgb_model,
                      params,
                      cv=5,
                      scoring={'mcc' : make_scorer(mcc_scorer)},
                      n_jobs=1,
                      verbose=2,
                      refit='mcc')

    gs.fit(X_train, y_train)
#rf = RandomForestClassifier(max_depth=10,n_estimators=50, random_state=33)
#    rf.fit(X_train, y_train)
    return gs

C:\Users\Tomonobu\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [41]:
def train_rf_parameter(df):
    df = df[(df['Response'] == 0) | (df['Response'] == 1)]
    df_train, df_test = train_test_split(df, random_state=33)
    
    df_train_ok   = df_train[df_train['Response'] == 0]
    df_train_ng   = df_train[df_train['Response'] == 1]
    undersample_rate = len(df_train_ng) * 30 / len(df_train_ok)
    df_train_ok_sample = df_train_ok.sample(frac = undersample_rate)
    df_train = pd.concat([df_train_ok_sample, df_train_ng])

    rf = train_with_r_forest(df_train)
    X_test, y_test = separate_X_y(df_test)
    y_pred = rf.predict(X_test)
    print(y_pred)   
    
    cf_mat = confusion_matrix(y_test, y_pred)
    print(cf_mat)

    mcc = calc_mcc(cf_mat)
    print(mcc)    
    return rf

model = train_rf_parameter(df_all)

Fitting 5 folds for each of 1 candidates, totalling 5 fits
[CV] colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95
31041 141 852 188
124717 11 572 3585
[CV]  colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95, total= 4.5min
[CV] colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  4.6min remaining:    0.0s

31060 122 859 181
124720 8 621 3536
[CV]  colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95, total= 4.6min
[CV] colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95
31055 127 875 164
124718 10 676 3482
[CV]  colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95, total= 4.5min
[CV] colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95
31061 121 859 180
124714 14 520 3638
[CV]  colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95, total= 4.2min
[CV] colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95
31051 131 849 190
124718 10 660 3498
[CV]  colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95, total= 4.3min

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed: 22.4min finished

[0 0 0 ..., 0 0 0]
[[293022   1233]
 [  1371    311]]
293022 1233 1371 311
0.18856737844

Fitting 5 folds for each of 1 candidates, totalling 5 fits
[CV] colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95 
31041 141 852 188
124717 11 572 3585
[CV]  colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95, total= 4.5min
[CV] colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95 
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  4.6min remaining:    0.0s
31060 122 859 181
124720 8 621 3536
[CV]  colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95, total= 4.6min
[CV] colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95 
31055 127 875 164
124718 10 676 3482
[CV]  colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95, total= 4.5min
[CV] colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95 
31061 121 859 180
124714 14 520 3638
[CV]  colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95, total= 4.2min
[CV] colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95 
31051 131 849 190
124718 10 660 3498
[CV]  colsample_bytree=1.0, max_depth=25, scale_pos_weight=2, subsample=0.95, total= 4.3min
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed: 22.4min finished
[0 0 0 ..., 0 0 0]
[[293022   1233]
 [  1371    311]]
293022 1233 1371 311
0.18856737844

S29, S30, S31, S33 の numeric でやった結果。
成績上がってない…